@using System.Web.Mvc.Html5
@using System.Web.Optimization
@using PagedList.Mvc
@using QOAM.Core
@using QOAM.Website.Helpers
@using QOAM.Website.Models
@model QOAM.Website.ViewModels.QoamCorners.CornersIndexViewModel

@{
    ViewBag.Title = "QOAMCorners";
}

<div class="container main">
    <div class="row side">
        <div class="col-md-3">
            <div id="filter" class="well">
                <h3>Available QOAMcorners</h3>

                @using (Html.BeginForm("Index", "QoamCorners", FormMethod.Get, new { id = "search-form" }))
                {
                    <fieldset>
                        <legend>Visit a QOAMcorner</legend>

                        <div class="form-group editor-label-placeholder">
                            @Html.LabelFor(m => m.Name)
                        </div>
                        @*<div class="form-group">
                                @Html.Html5TextBoxFor(m => m.Name, InputTypes.InputType.Text, new { @class = "form-control" }, "Search by name")
                                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "control-label" })
                            </div>*@

                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Corner, Model.Corners.ToSelectListItems("Select a QOAMcorner"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Corner, null, new { @class = "control-label" })
                        </div>

                        @Html.Partial("_JournalFilters")

                        @*@Html.Partial("_SwotMatrix")*@

                        <p>
                            <input type="submit" value="Open" class="btn btn-primary" />
                        </p>
                    </fieldset>
                }

            </div>
        </div>

        <div class="col-md-9">
            @(!Model.Corner.HasValue ? Html.Partial("_EmptyText") : Html.Partial("_Journals"))
        </div>
    </div>
</div>

@section stylesheets
{
    @Styles.Render("~/styles/typeahead")
    @Styles.Render("~/styles/chosen")
}

@section scripts
{
    @Scripts.Render("~/scripts/typeahead")
    @Scripts.Render("~/scripts/chosen")

    @Html.Partial("_FormScripts")

    <script type="text/javascript">
        $(function () {
            var cornersController = new QoamCornersController();
            cornersController.index(
                '@Url.Action("Titles", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Issns", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Publishers", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Subjects", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Languages", null, null, this.Request.Url.Scheme)');
        });
    </script>
}