@using System.Web.Optimization
@model QOAM.Website.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (this.ViewBag.ShortRegistration != null)
                    {
                        <h3 class="panel-title">Please fill in the form. Upon submission you will be logged on and you can continue scoring.</h3>
                    }
                    else
                    {
                        <h3 class="panel-title">Please fill in the form. Upon submission you will receive an email requesting to confirm your registration.</h3>
                    }
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()    
                        @Html.ValidationSummary(true, null, new { @class = "text-danger" })

                        <fieldset>
                            @Html.HiddenFor(m => m.AddLink)
                            <legend>Please fill in the registration information and submit the form</legend>

                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2" style="text-align: right;">
                                    <div id="popover-container" style="display: none;">
                                        <p>ORCID is a researcher identifier: an unique number that a researcher could request and then use to link all his articles and other productions to his name.</p>
                                        <p>To read more about ORCID and /or register for an ORCID ID, please visit the ORCID webpage: <a href="http://orcid.org/" target="_blank">http://orcid.org/</a>. <strong>An ORCID ID is not required for registering to QOAM.</strong></p>
                                    </div>
                                    <a id="info-text" style="color: #333;" href="">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                    @Html.LabelFor(m => m.OrcId, new { @class = "control-label" })
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.OrcId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrcId, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    We're committed to protecting your privacy and will not rent or sell your e-mail address. By proceeding, you agree to our <a href="~/about#privacy">privacy policy</a>.
                                </div>
                            </div>

                            <div class="col-md-10 col-md-offset-2">
                                <input type="submit" value="Register" class="btn btn-primary" />
                            </div>
                        </fieldset>
                                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function() {
            $("#info-text")
                .popover({
                    container: "body",
                    trigger: "hover",
                    html: true,
                    delay: { "show": 400, "hide": 1500 },
                    placement: "bottom",
                    content: function() {
                        return $("#popover-container").html();
                    }
                });
        });
    </script>
}