@using System.Web.Mvc
@using QOAM.Core.Repositories.Filters
@using QOAM.Website.Helpers
@helper JournalSortMenu(JournalSortMode currentSortMode, SortDirection currentSortDirection)
{
    var url = new UrlHelper(Context.Request.RequestContext);

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right">
            @foreach (var sortMode in ((JournalSortMode[])Enum.GetValues(typeof(JournalSortMode))))
            {
                var isActive = sortMode == currentSortMode;
                var activeClass = isActive ? "active" : null;
                var sortDirectionClass = isActive ? (currentSortDirection == SortDirection.Ascending ? "glyphicon glyphicon-arrow-up" : "glyphicon glyphicon-arrow-down") : null;
                var hasInfo = sortMode.GetName().Contains("robust");

                <li class="@activeClass">
                    <a href="@url.SortUrl(sortMode, currentSortMode, currentSortDirection)" 
                       title="@(hasInfo ? "The robustness of a score is defined as 1+log N, with N being the number of scorers. The position of a journal on the list is defined by the product of four factors: Base score, robustness of base score, Valuation score, robustness of valuation score." : "")">
                        @sortMode.GetName()<i class="@sortDirectionClass"></i>
                        @if (hasInfo) {
                            <span class="glyphicon glyphicon-info-sign"></span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
}

@helper UserProfileSortMenu(UserProfileSortMode currentSortMode, SortDirection currentSortDirection)
{
    var url = new UrlHelper(Context.Request.RequestContext);

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right">
            @foreach (var sortMode in (UserProfileSortMode[])Enum.GetValues(typeof(UserProfileSortMode)))
            {
                var isActive = sortMode == currentSortMode;
                var activeClass = isActive ? "active" : null;
                var sortDirectionClass = isActive ? (currentSortDirection == SortDirection.Ascending ? "glyphicon glyphicon-arrow-up" : "glyphicon glyphicon-arrow-down") : null;
                <li class="@activeClass">
                    <a href="@url.SortUrl(sortMode, currentSortMode, currentSortDirection)">@sortMode.GetName()<i class="@sortDirectionClass"></i></a>
                </li>
            }
        </ul>
    </div>
}

@helper InstitutionSortMenu(InstitutionSortMode currentSortMode, SortDirection currentSortDirection)
{
    var url = new UrlHelper(Context.Request.RequestContext);

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Sort
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right">
            @foreach (var sortMode in (InstitutionSortMode[])Enum.GetValues(typeof(InstitutionSortMode)))
            {
                var isActive = sortMode == currentSortMode;
                var activeClass = isActive ? "active" : null;
                var sortDirectionClass = isActive ? (currentSortDirection == SortDirection.Ascending ? "glyphicon glyphicon-arrow-up" : "glyphicon glyphicon-arrow-down") : null;
                <li class="@activeClass">
                    <a href="@url.SortUrl(sortMode, currentSortMode, currentSortDirection)">@sortMode.GetName()<i class="@sortDirectionClass"></i></a>
                </li>
            }
        </ul>
    </div>
}