@using System.Web.Mvc
@using QOAM.Core.Repositories.Filters
@using QOAM.Website.Helpers
@helper JournalSortMenu(JournalSortMode currentSortMode, SortDirection currentSortDirection)
{
    var url = new UrlHelper(Context.Request.RequestContext);

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right">
            @foreach (var sortMode in ((JournalSortMode[])Enum.GetValues(typeof(JournalSortMode))))
            {
                var isActive = sortMode == currentSortMode;
                var activeClass = isActive ? "active" : null;
                var sortDirectionClass = isActive ? (currentSortDirection == SortDirection.Ascending ? "glyphicon glyphicon-arrow-up" : "glyphicon glyphicon-arrow-down") : null;
                <li class="@activeClass">
                    <a href="@url.SortUrl(sortMode, currentSortMode, currentSortDirection)">@sortMode.GetName()<i class="@sortDirectionClass"></i></a>
                </li>
            }
        </ul>
    </div>
}

@helper UserProfileSortMenu(UserProfileSortMode currentSortMode, SortDirection currentSortDirection)
{
    var url = new UrlHelper(Context.Request.RequestContext);

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right">
            @foreach (var sortMode in (UserProfileSortMode[])Enum.GetValues(typeof(UserProfileSortMode)))
            {
                var isActive = sortMode == currentSortMode;
                var activeClass = isActive ? "active" : null;
                var sortDirectionClass = isActive ? (currentSortDirection == SortDirection.Ascending ? "glyphicon glyphicon-arrow-up" : "glyphicon glyphicon-arrow-down") : null;
                <li class="@activeClass">
                    <a href="@url.SortUrl(sortMode, currentSortMode, currentSortDirection)">@sortMode.GetName()<i class="@sortDirectionClass"></i></a>
                </li>
            }
        </ul>
    </div>
}

@helper InstitutionSortMenu(InstitutionSortMode currentSortMode, SortDirection currentSortDirection)
{
    var url = new UrlHelper(Context.Request.RequestContext);

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Sort
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right">
            @foreach (var sortMode in (InstitutionSortMode[])Enum.GetValues(typeof(InstitutionSortMode)))
            {
                var isActive = sortMode == currentSortMode;
                var activeClass = isActive ? "active" : null;
                var sortDirectionClass = isActive ? (currentSortDirection == SortDirection.Ascending ? "glyphicon glyphicon-arrow-up" : "glyphicon glyphicon-arrow-down") : null;
                <li class="@activeClass">
                    <a href="@url.SortUrl(sortMode, currentSortMode, currentSortDirection)">@sortMode.GetName()<i class="@sortDirectionClass"></i></a>
                </li>
            }
        </ul>
    </div>
}