@model QOAM.Website.ViewModels.Score.RequestValuationViewModel

@{
    ViewBag.Title = "Valuation SC request";
}
<link href="~/Content/scoring.css" rel="stylesheet" />

@using (Html.BeginForm("RequestValuation", "Score", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container main">
        <div class="panel panel-primary">
            @Html.HiddenFor(model => model.JournalId)
            @Html.HiddenFor(model => model.JournalTitle)
            @Html.HiddenFor(model => model.JournalISSN)

            <div class="panel-heading">
                Invitation to publish a Score Card for journal: <strong>@Model.JournalTitle (ISSN: @Model.JournalISSN)</strong>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, null, new { @class = "red" })

                <div class="row bottommargin">
                    <div class="col-xs-1 vcenter">
                        From:
                    </div>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(model => model.EmailFrom, new { @class = "fullWidth form-control tt-input", @id = "MailFromAddress", @placeholder = "Insert your mail address here..." })
                    </div>
                    <div class="col-xs-2">
                        @Html.ValidationMessageFor(model => model.EmailFrom, null, new { @class = "red" })
                    </div>
                </div>
                <div class="row bottommargin">
                    <div class="col-xs-1 vcenter">
                        To:
                    </div>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(model => model.EmailTo, new { @class = "fullWidth form-control tt-input", @id = "MailToAddress", @placeholder = "Insert mail address here..." })
                    </div>
                    <div class="col-xs-2">
                        @Html.ValidationMessageFor(model => model.EmailTo, null, new { @class = "red" })
                    </div>
                </div>
                <div class="row bottommargin">
                    <div class="col-xs-1 vcenter">
                        Subject:
                    </div>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(model => model.EmailSubject, new { @class = "fullWidth form-control tt-input" })
                    </div>
                </div>
                <div class="row bottommargin">
                    <div class="col-xs-1 vcenter">
                        Message:
                    </div>
                    <div class="col-xs-9">
                        @Html.TextAreaFor(model => model.EmailBody, new { @class = "fullWidth minHeight form-control tt-input", @placeholder = "Type your message here..." })
                        <sub>Note: an extra line containing the link to the Score Card of the journal will be added automatically at the bottom of this message.</sub>
                    </div>
                    <div class="col-xs-2">
                        @Html.ValidationMessageFor(model => model.EmailBody, null, new { @class = "red" })
                    </div>
                </div>
                <div class="row bottommargin">
                    <div class="col-xs-1 vcenter">
                    </div>
                    <div class="col-xs-11">
                        <input type="submit" value="Send mail" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", "Journals", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Helpers/RequestValuationForm.js"></script>
}