@using System.Web.Mvc.Html
@using QOAM.Core
@using QOAM.Website.Helpers
@using QOAM.Website.Models
@model ValuationScoreCard

@{
    ViewBag.Title = "Score card";
}

@helper QuestionRating(QuestionKey questionKey)
{ 
    var question = Model.QuestionScores.FirstOrDefault(q => q.Question.Key == questionKey);
    if (question == null) {
        return;
    }

    <div class="score">
        <div class="row">
            <div class="col-md-12">
                <p class="text-left">@questionKey.ToDescription()</p>

                @{
                    var questionScore = question.Score;
                    var questionScoreName = "questionScore" + questionKey;
                }

                @Html.RadioButton(questionScoreName, Score.Absent, Score.Absent == questionScore, new { @disabled = "disabled" }) @Score.Absent.GetValue(): @Score.Absent.GetName()
                @Html.RadioButton(questionScoreName, Score.Poor, Score.Poor == questionScore, new { @disabled = "disabled" }) @Score.Poor.GetValue(): @Score.Poor.GetName()
                @Html.RadioButton(questionScoreName, Score.Moderate, Score.Moderate == questionScore, new { @disabled = "disabled" }) @Score.Moderate.GetValue(): @Score.Moderate.GetName()
                @Html.RadioButton(questionScoreName, Score.Good, Score.Good == questionScore, new { @disabled = "disabled" }) @Score.Good.GetValue(): @Score.Good.GetName()
                @Html.RadioButton(questionScoreName, Score.Excellent, Score.Excellent == questionScore, new { @disabled = "disabled" }) @Score.Excellent.GetValue(): @Score.Excellent.GetName()
            </div>
        </div>
    </div>
}

@helper ScoreCardAspect(QuestionCategory questionCategory)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <small><a href="#@(questionCategory)ScoreTab" data-select-tab="true">@questionCategory.GetName()</a></small>
        </div>
        <div class="panel-body">
            <a href="#@(questionCategory)ScoreTab" data-select-tab="true">
                <h3>@Model.Score[questionCategory].AverageScore.Value.ToString("0.0")</h3>
            </a>
        </div>
    </div>
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            <div class="scoreCardAspects well text-center">
                <h3>Score Card</h3>

                <div class="row">
                    <div class="col-md-6 col-lg-push-3">
                        @ScoreCardAspect(QuestionCategory.Valuation)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Score for this journal:</div>
                            <div class="panel-body">
                                <h1>@Model.Score.ValuationScore.AverageScore.Value.ToString("0.0")</h1>
                            </div>
                            <div class="panel-footer">
                                <small>By @Html.ActionLink(Model.UserProfile.DisplayName, "Details", "Profiles", new { id = Model.UserProfileId }, null) <i class="icon-user"></i></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (User.IsInRole(ApplicationRole.Admin))
            {
                <div class="text-center">
                    <a href="@Url.Action("RemoveValuationScoreCard", "Admin", new { id = Model.Id })" title="Delete JSC" class="btn btn-danger" role="button">
                        Remove score card <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            }
        </div>

        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="@Model.Journal.Link" title="Go to website">
                        <div>
                            @Model.Journal.Title
                            <span class="pull-right clearfix"><i class="glyphicon glyphicon-new-window"></i></span>
                        </div>
                    </a>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <label class="col-md-2">ISSN:</label>
                        <div class="col-md-10">@Model.Journal.ISSN</div>
                    </div>

                    <div class="row">
                        <label class="col-md-2">Publisher:</label>
                        <div class="col-md-10">@Model.Journal.Publisher.Name</div>
                    </div>

                    <div class="row">
                        <label class="col-md-2">Language:</label>
                        <div class="col-md-10">@string.Join(", ", Model.Journal.Languages.Select(l => l.Name))</div>
                    </div>

                    <div class="row">
                        <label class="col-md-2">Disciplines:</label>
                        <div class="col-md-10">@string.Join(", ", Model.Journal.Subjects.Select(s => s.Name))</div>
                    </div>
                    
                    <div class="row">

                        @using (Html.BeginForm())
                        {
                            <div class="tabbable">
                                <ul id="scoreTabs" class="nav nav-tabs">
                                    <li class="active"><a href="#@(QuestionCategory.Valuation)ScoreTab" data-toggle="tab">@QuestionCategory.Valuation.GetName()</a></li>
                                </ul>
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="@(QuestionCategory.Valuation)ScoreTab">
                                        <div class="score">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-left">
                                                        @Html.CheckBoxFor(m => m.Submitted, new { @disabled = "disabled" })
                                                        I have published an article in this journal less than a year ago
                                                    </p>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="score">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-left">
                                                        @Html.CheckBoxFor(m => m.Editor, new { @disabled = "disabled" })
                                                        I am an editor of this journal <small>(If ‘Yes’, please tick the box) </small>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        
                                        @QuestionRating(QuestionKey.PeerReviewProcessTransparent)
                                        @QuestionRating(QuestionKey.EditorIsResponsive)
                                        @QuestionRating(QuestionKey.PeerReviewHasAddedValue)
                                        @QuestionRating(QuestionKey.RecommendScholarsToSubmit)
                                        @QuestionRating(QuestionKey.GoodValueForMoney)

                                        @if (ViewBag.JournalPrice != null)
                                        {
                                            <div class="row">
                                                <p>Publication of my article in this journal did cost: @Html.Partial("DisplayTemplates/Price", (object)ViewBag.JournalPrice.Price)</p>
                                            </div>
                                        }

                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>Additional comments</p>

                                                <textarea rows="3" class="form-control" disabled="disabled">@Model.Remarks</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var scoreController = new ScoreController();
            scoreController.valuationScoreCardDetails();
        });
    </script>
}
