@using QOAM.Website.Helpers
@model QOAM.Website.ViewModels.Import.DeleteViewModel

@{
    ViewBag.Title = "Delete journals";
}

<div class="container main">
    
    <h2>@ViewBag.Title</h2>
    
    <p>
        In the textbox below you can enter ISSNs of journals to be deleted. Please note that the existing information will not be recoverable!
    </p>
    
    @using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>
            
            <div class="form-group row">
                @Html.LabelFor(m => m.ISSNs, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Html.TextAreaFor(m => m.ISSNs, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ISSNs, null, new { @class = "control-label" })
                </div>
            </div>
            
            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}