@using RU.Uci.OAMarket.Website.Models
@using RU.Uci.OAMarket.Website.Resources

@{
    ViewBag.Title = ViewStrings.Admin_Index_Title;
}

<div class="container main">

    <p>
        @ViewStrings.Admin_Index_Text
    </p>

    <ul>
        @if (User.IsInRole(ApplicationRole.DataAdmin))
        { 
            <li>@Html.ActionLink(ViewStrings.Admin_Index_ImportJournals, "Import")</li>
            <li>@Html.ActionLink(ViewStrings.Admin_Index_UpdateJournals, "Update")</li>
            <li>@Html.ActionLink(ViewStrings.Admin_Index_DownloadJournals, "Download")</li>
        }
        
        @if (User.IsInRole(ApplicationRole.InstitutionAdmin))
        {
            <li>@Html.ActionLink(ViewStrings.Admin_Index_CheckISSNs, "Check")</li>
        }
    </ul>
</div>
