@using QOAM.Website.Helpers
@model QOAM.Website.ViewModels.Import.UpdateViewModel

@{
    ViewBag.Title = "Update journals";
}

<div class="container main">
    
    <h2>@ViewBag.Title</h2>
    
    <p>
        In the text are below you can enter ISSNs of journals to be updated. Please note that the existing information will be overwritten, which means that the publisher, language, country and disciplines will all be overwritten.
    </p>
    
    @using (Html.BeginForm("Update", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>
            
            <div class="form-group row">
                @Html.LabelFor(m => m.ISSNs, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Html.TextAreaFor(m => m.ISSNs, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ISSNs, null, new { @class = "control-label" })
                </div>
            </div>
            
            <div class="form-group row">
                @Html.LabelFor(m => m.Source, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Html.EnumDropDownListFor(m => m.Source, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Source, null, new { @class = "control-label" })
                </div>
            </div>

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}