@using QOAM.Website.Helpers
@using QOAM.Website.Resources
@model QOAM.Website.ViewModels.Import.UpdateViewModel

@{
    ViewBag.Title = ViewStrings.Admin_Update_Title;
}

<div class="container main">
    
    <h2>@ViewBag.Title</h2>
    
    <p>
        @ViewStrings.Admin_Update_Text
    </p>
    
    @using (Html.BeginForm("Update", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>
            
            <div class="form-group row">
                @Html.LabelFor(m => m.ISSNs, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Html.TextAreaFor(m => m.ISSNs, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ISSNs, null, new { @class = "control-label" })
                </div>
            </div>
            
            <div class="form-group row">
                @Html.LabelFor(m => m.Source, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Html.EnumDropDownListFor(m => m.Source, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Source, null, new { @class = "control-label" })
                </div>
            </div>

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="@Strings.Update" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @{ this.Html.RenderPartial("_FormScripts"); }
}
