@model string

@helper GetClass(string tabName)
{
    if (tabName == Model)
    {
        <text> class="active"</text>
    }
}
<!--<img src="~/Content/images/@(Model.ToLowerInvariant()).png" alt="@Model" title="@Model" style="width: 50px" class="icon">-->
<ul class="nav nav-list bs-docs-sidenav">
    <li @GetClass("About")><a href="@Url.Action("About", "Home")"><i class="glyphicon glyphicon-chevron-right"></i>About</a></li>
    <li @GetClass("Contact")><a href="@Url.Action("Contact", "Home")" ><i class="glyphicon glyphicon-chevron-right"></i>Contact</a></li>
    <li @GetClass("Faq")><a href="@Url.Action("Faq", "Home")"><i class="glyphicon glyphicon-chevron-right"></i>FAQ</a></li>
    <li @GetClass("JournalScoreCard")><a href="@Url.Action("JournalScoreCard", "Home")"><i class="glyphicon glyphicon-chevron-right"></i>Journal Score Card</a></li>
    <li @GetClass("Organisation")><a href="@Url.Action("Organisation", "Home")"><i class="glyphicon glyphicon-chevron-right"></i>Organisation</a></li>
    <li @GetClass("Press")><a href="@Url.Action("Press", "Home")"><i class="glyphicon glyphicon-chevron-right"></i>References</a></li>
    <li @GetClass("Manuals")><a href="@Url.Action("Manuals", "Home")"><i class="glyphicon glyphicon-chevron-right"></i>Manuals</a></li>
    <li @GetClass("B2B")><a href="@Url.Action("B2B", "Home")"><i class="glyphicon glyphicon-chevron-right"></i>Publishers & Librairies</a></li>
</ul>