@using QOAM.Core
@using QOAM.Website.Models
@model IList<QOAM.Core.InstitutionJournal>

@foreach (var institutionJournal in Model)
{
    //var nextPage = Model.IsLastPage ? (int?)null : (Model.PageNumber + 1);
    var rowClass = User.Identity.IsAuthenticated && ViewBag.User.InstitutionId == institutionJournal.InstitutionId ? "highlighted" : null;

    <tr class="@rowClass" @*data-next-page="@nextPage"*@>
        <td>
            @if (institutionJournal.Link.StartsWith("http") && Uri.IsWellFormedUriString(institutionJournal.Link, UriKind.RelativeOrAbsolute))
            {
                <a href="@institutionJournal.Link" title="View website">@institutionJournal.Institution.Name</a>
            }
            else
            {
                @Html.ActionLink(institutionJournal.Institution.Name, "InstitutionJournalText", "Journals", new { id = institutionJournal.JournalId, institutionId = institutionJournal.InstitutionId, area = "" }, null)
            }
        </td>
    </tr>
}