@using System.Web.Optimization
@using PagedList.Mvc
@using QOAM.Core
@using QOAM.Website.Helpers
@using QOAM.Website.ViewModels.Journals
@model IndexViewModel

@{
    ViewBag.Title = "OA Journals";
    var action = ViewBag.PageId == "journals-notinjournaltocs-page" ? "NotInJournalTOCs" : "Index";
    var controller = ViewBag.PageId == "myqoam-index-page" ? "MyQoam" : "Journals";
}

<div class="container main">
    <div class="row side">
        <div class="col-md-3">
            <div id="filter" class="well">
                <h3>
                    Filter
                    <img src="~/Images/zoom.png" class="pull-right clearfix" style="height: 30px;" />
                </h3>

                @using (Html.BeginForm(action, controller, FormMethod.Get, new { id = "search-form" }))
                {
                    <fieldset>
                        <legend>Search</legend>

                        @Html.Partial("_JournalFilters")
                        
                        @*@Html.Partial("_SwotMatrix")*@

                        <p>
                            <input id="submitForm" type="submit" value="Search" class="btn btn-primary" />
                        </p>
                    </fieldset>
                }
            </div>
            @*@if (ViewBag.PageId == "journals-index-page")
            {
                <div class="well">
                    <h3>Group invitations<img src="~/Images/scoresheet.png" class="pull-right clearfix" style="height:30px;" /></h3>
                    <br />
                    <p>
                        <a href="@Url.Action("BulkRequestValuation", "Score")" class="btn btn-primary">Invitations for Valuation Score Cards</a>
                    </p>
                </div>
            }*@
        </div>

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-9">
                    @if (ViewBag.PageId == "myqoam-index-page")
                    {
                        <h3>Saved journals: @Model.Journals.TotalItemCount</h3>
                    }
                    else if (ViewBag.PageId == "journals-notinjournaltocs-page")
                    {
                        <h3>Journals not in JournalTOCs: @Model.Journals.TotalItemCount</h3>
                    }
                    else
                    {
                        <h3>@Model.Journals.TotalItemCount journals; <a id="open-access-filter" href="#">full OA journals;</a> <a id="institutional-discount-filter" href="#">discounted journals</a></h3>
                        @*<h3>@Model.Journals.TotalItemCount journals</h3>*@
                    }

                </div>
                <div class="col-md-3 text-right topmargin">
                    <div class="topmargin">@Sorting.JournalSortMenu(Model.SortBy, Model.Sort)</div>
                </div>
            </div>

            @if (Model.Journals.Any()) {
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="title">
                                Title
                            </th>
                            <th class="publisher">Publisher</th>
                            <th><a class="help-window" href="@Url.Action("JournalScoreCard", "Home")#valuationjournalscorecard">Average score</a></th>
                            <th>Scored by</th>
                            <th class="swot">
                                <a href="@Url.Action("JournalScoreCard", "Home")#swot">Submit</a>&nbsp;&nbsp;
                                <a href="/tools#submission" title="Including a submission button in QOAM" target="_blank">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var journal in Model.Journals)
                        {
                        <tr>
                            <td>@Html.ActionLink(journal.Title, "Details", "Journals", new { id = journal.Id, returnUrl = Request.RawUrl }, null)</td>
                            <td>@Html.ActionLink(journal.Publisher.Name, "Index", "Journals", new { Publisher = journal.Publisher.Name }, null)</td>
                            <td class="text-center">@Scores.AverageScore(journal.ValuationScore, Model.SortBy)</td>
                            <td class="text-center">
                                @if (journal.NumberOfValuationReviewers > 100) {
                                    <span>100</span>
                                    <a href="#" title="Max 100 most recent scores">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                } else {
                                    @(journal.NumberOfValuationReviewers)
                                }
                            </td>
                            @*<td class="verdict-@journal.Swot">*@
                            <td class="verdict-strong">
                                @if (!string.IsNullOrWhiteSpace(journal.SubmissionPageLink))
                                {
                                    <a href="@journal.SubmissionPageLink" alt="Go to submission page" title="Go to submission page" class="submission-link" target="_blank">S</a>
                                }
                                else
                                {
                                    @:&#160;
                                }
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

                @Html.PagedListPager(Model.Journals, page => Url.Action("Index", Model.ToRouteValueDictionary(page)), Html.PagedListRenderOptions())
            }
            else
            {
                @Html.Partial("_EmptyText")
            }
        </div>
    </div>
</div>

@section stylesheets
{
    @Styles.Render("~/styles/typeahead")
    @Styles.Render("~/styles/chosen")
}

@section scripts
{
    @Scripts.Render("~/scripts/typeahead")
    @Scripts.Render("~/scripts/chosen")

    @Html.Partial("_FormScripts")

    <script type="text/javascript">
        $(function () {
            var journalsController = new JournalsController();
            journalsController.index(
                '@Url.Action("Titles", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Issns", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Publishers", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Subjects", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Languages", null, null, this.Request.Url.Scheme)'
            );
        });
    </script>
}