@using QOAM.Website.Resources
@model QOAM.Website.ViewModels.Profiles.DetailsViewModel

@{
    ViewBag.Title = string.Format(ViewStrings.Profile_Details_Title, Model.UserProfile.DisplayName);
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h3 class="text-align">@Strings.Profile<img src="~/Content/images/profile.png" alt="@Strings.Profile"></h3>

                <h5>@Model.UserProfile.DisplayName</h5>
                <div class="institute bottommargin">@Model.UserProfile.Institution.Name</div>

                <div>
                    @Model.ScoreCardStats.NumberOfPublishedScoreCards @ViewStrings.Profile_Details_ScoreCardsPublished
                </div>

                <div>
                    @Model.ScoreCardStats.NumberOfExpiredScoreCards @ViewStrings.Profile_Details_ScoreCardsExpired
                </div>

                <div class="bottommargin">
                    @Model.ScoreCardStats.NumberOfUnpublishedScoreCards @ViewStrings.Profile_Details_ScoreCardsUnfinished
                </div>

                @if (User.Identity.IsAuthenticated && Model.UserProfile.Id == ViewBag.User.Id)
                {
                    <div class="score">
                        <a class="" href="@Url.Action("Index", "Score")">@ViewStrings.Profile_Details_RateAnotherJournal</a><br />
                        <a class="" href="@Url.Action("Index", "Score")">
                            <img src="~/Content/Images/rate.png" alt="@ViewStrings.Profile_Details_RateAnotherJournal" /></a>
                    </div>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    <div>
                        <a href="mailto:@Model.UserProfile.Email" class="btn btn-success" title="@Strings.SendEmail">@Strings.SendEmail</a>
                    </div>
                }
                else
                {
                    <p>
                        @Html.Raw(string.Format(ViewStrings.Profiles_Details_YouMayContact, Model.UserProfile.DisplayName, Url.Action("Login", "Account", new { returnUrl = Url.Action("Details", new { id = Model.UserProfile.Id }) })))
                    </p>
                }
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <h3>@Strings.JournalScoreCards</h3>
                
                @if (Model.ScoreCards.TotalItemCount > 0)
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Strings.OAJournal</th>
                                <th>@Strings.BaseScore</th>
                                <th>@Strings.AverageBaseScore</th>
                                <th>@Strings.ValuationScore</th>
                                <th>@Strings.AverageValuationScore</th>
                                <th>@Strings.State</th>
                                <th>@Strings.ExpirationDate</th>
                                <th>@Strings.Actions</th>
                            </tr>
                        </thead>
                        <tbody id="scorecards">
                            @{ this.Html.RenderPartial("ScoreCards", this.Model.ScoreCards); }
                        </tbody>
                        <tfoot id="loadMoreScoreCards">
                            @if (this.Model.ScoreCards.HasNextPage)
                            {
                                <tr>
                                    <td colspan="9">
                                        @this.Ajax.ActionLink(Strings.LoadMore, "ScoreCards", new { Model.Id, Page = Model.Page + 1 }, new AjaxOptions
                                                                                                                                       {
                                                                                                                                           UpdateTargetId = "scorecards",
                                                                                                                                           InsertionMode = InsertionMode.InsertAfter,
                                                                                                                                           OnSuccess = "afterLoadMore(data, 'loadMoreScoreCards', 'loadMoreScoreCardsLink')"
                                                                                                                                       }, new { id = "loadMoreScoreCardsLink" })
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                }
                else
                {
                    <p>
                        @Html.Raw(string.Format(ViewStrings.Profiles_Details_NoScoreCards, Model.UserProfile.DisplayName))
                    </p>
                }
                
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @{ this.Html.RenderPartial("_FormScripts"); }
    <script type="text/javascript" src="~/Scripts/Helpers/Ajax.min.js"></script>
}