@using System.Web.Mvc.Html5
@using PagedList.Mvc
@using QOAM.Website.Helpers
@using QOAM.Website.Models
@using QOAM.Website.Resources
@model QOAM.Website.ViewModels.Profiles.IndexViewModel

@{
    ViewBag.Title = ViewStrings.Profile_Index_Title;
}

<div class="container main">
    <div class="row side">
        <div class="col-md-3">
                <div id="filter" class="well">
                <h3>@Strings.Filter</h3>

                @using (Html.BeginForm("Index", "Profiles", FormMethod.Get))
                {
                    <fieldset>
                        <legend>@Strings.Search</legend>

                        <div class="form-group editor-label-placeholder">
                            @Html.LabelFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.Html5TextBoxFor(m => m.Name, InputTypes.InputType.Text, new { @class = "form-control" }, Strings.SearchByName)
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "control-label" })
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Institution, Model.Institutions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Institution, null, new { @class = "control-label" })
                        </div>

                        <p>
                            <input type="submit" value="@Strings.Search" class="btn btn-primary" />
                        </p>
                    </fieldset>
                }

            </div>
    </div>

        <div class="col-md-9">
            
            <div class="row">
                <div class="col-md-9">
                    <h3>@Strings.Profiles: @Model.Profiles.TotalItemCount</h3>

                </div>
                <div class="col-md-3 text-right topmargin">
                    <div class="topmargin">@Sorting.UserProfileSortMenu(Model.SortBy, Model.Sort)</div>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@Strings.Name</th>
                            <th>@Strings.Institution</th>
                            <th>@Strings.RegistrationDate</th>
                            <th>@Strings.NumberOfJSCs</th>
                            <th>@Strings.Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var profile in Model.Profiles)
                        {
                            <tr>
                                <td>@Html.ActionLink(profile.DisplayName, "Details", "Profiles", new { id = profile.Id }, null)</td>
                                <td>@Html.ActionLink(profile.Institution.Name, "Index", new { Institution = profile.Institution.Id })</td>
                                <td>@profile.DateRegistered</td>
                                <td>@profile.NumberOfScoreCards</td>
                                <td>
                                    <span class="glyphicon glyphicon-eye-open"></span> @Html.ActionLink(Strings.View, "Details", "Profiles", new { id = profile.Id }, null)
                                    
                                    @if (User.IsInRole(ApplicationRole.Admin))
                                    {
                                      <span class="glyphicon glyphicon-pencil"></span>  @Html.ActionLink(Strings.Edit, "Edit", new { profile.Id, ReturnUrl = Request.Url.ToString() })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PagedListPager(Model.Profiles, page => Url.Action("Index", new { page, Model.Name, Model.Institution, Model.Sort, Model.SortBy }), Html.PagedListRenderOptions())
            </div>

        </div>
</div>
</div>

@section stylesheets
{
    <link href="~/Content/typeahead.js-bootstrap.min.css" rel="stylesheet" />
}

@section scripts
{
    @{ this.Html.RenderPartial("_FormScripts"); }

    <script type="text/javascript" src="~/Scripts/Controllers/ProfilesController.js"></script>
    <script type="text/javascript" src="~/Scripts/typeahead.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var profilesController = new ProfilesController();
            profilesController.index('@Url.Action("Names", null, null, this.Request.Url.Scheme)');
        });
    </script>
}