@model QOAM.Website.ViewModels.Journals.InstitutionalPricesViewModel

@{
    ViewBag.Title = "Import Institutional Prices";
}

<div class="container main">

    <h2>@ViewBag.Title</h2>

    <p>
        Select an Excel file containing multiple Journal Licenses for Institutions. Importing might take a while, depending on the size of the file.
    </p>
    <br/>
    @using (Html.BeginForm("BulkImportInstitutionalPrices", "Journals", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div class="form-group row">
                @Html.LabelFor(m => m.File, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.File, new { type = "file", accept = ".xlsx" })
                    @Html.ValidationMessageFor(m => m.File, null, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.ValidationMessage("unknownError", new { @class = "control-label" })
                </div>
            </div>

            <div class="col-lg-10 col-md-offset-3">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}