@using System.Web.Optimization
@using QOAM.Core
@using QOAM.Website.Helpers
@model QOAM.Core.Journal

@{
    ViewBag.Title = "OA Journal";
}

<link href="~/Content/scoring.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/dataTables.custom.css" />*@

<div class="container main">
    <div class="row side">
        <div class="col-md-12">
            @if (ViewBag.MyQoamMessage != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @ViewBag.MyQoamMessage
                </div>
            }
            @if (string.IsNullOrEmpty(ViewBag.ReturnUrl))
            {
                <a class="btn btn-default return-button" title="Back to search results" href="@Url.Action("Index")">&lt; Back to search results</a>
            }
            else
            {
                <a class="btn btn-default return-button" title="Back to search results" href="@ViewBag.ReturnUrl">&lt; Back to search results</a>
            }

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="@Model.Link" title="Go to website">
                        <div>
                            @Model.Title
                            <span class="pull-right clearfix"><i class="glyphicon glyphicon-new-window"></i></span>
                        </div>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="col-md-2">ISSN:</label>
                            <div class="col-md-10">@Model.ISSN</div>
                        </div>

                        <div class="row">
                            <label class="col-md-2">Publisher:</label>
                            <div class="col-md-10">@Html.ActionLink(Model.Publisher.Name, "Index", new { Publisher = Model.Publisher.Name })</div>
                        </div>

                        <div class="row">
                            <label class="col-md-2">Language:</label>
                            <div class="col-md-10">
                                @for (var i = 0; i < Model.Languages.Count; ++i)
                                {
                                    var language = Model.Languages.ElementAt(i);

                                    @Html.ActionLink(language.Name, "Index", new { Language = language.Id })

                                    if (i < Model.Languages.Count - 1)
                                    {
                                        <text>,</text>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2">Discipline:</label>
                            <div class="col-md-10">
                                @for (var i = 0; i < Model.Subjects.Count; ++i)
                                {
                                    var subject = Model.Subjects.ElementAt(i);

                                    @Html.ActionLink(subject.Name, "Index", new { Discipline = subject.Id })

                                    if (i < Model.Subjects.Count - 1)
                                    {
                                        <text>,</text>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    @if (Model.NumberOfBaseReviewers > 0 && Model.NumberOfValuationReviewers > 0)
                    {
                        <div class="col-md-2">
                            <div class="score swotContainer">
                                <a href="@Url.Action("JournalScoreCard", "Home")#swot" data-select-tab="false">
                                    <small>SWOT matrix</small>
                                </a>
                                <div class="table verdict-@Model.Swot">
                                    <div class="table-row first-row no-float">
                                        <div class="table-cell strong first-column">
                                            @if (!string.IsNullOrWhiteSpace(Model.SubmissionPageLink) && Model.Swot == SwotVerdict.StrongJournal)
                                            {
                                                <a href="@Model.SubmissionPageLink" alt="Go to submission page" title="Go to submission page" class="submission-link" target="_blank">S</a>
                                            }
                                            else
                                            {
                                                @:&#160;
                                            }
                                        </div>
                                        <div class="table-cell threat second-column">&#160;</div>
                                    </div>
                                    <div class="table-row second-row">
                                        <div class="table-cell opportunity first-column">&#160;</div>
                                        <div class="table-cell weak second-column">&#160;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                    <a href="@Url.Action("JournalScoreCard", "Home")#valuationjournalscorecard">
                        <div class="col-md-2 pull-right">
                            <div class="score big">
                                <small>Valuation Score</small>
                                <h2>
                                    @Scores.AverageScore(Model.ValuationScore)
                                </h2>

                                <small>Scored by @Model.NumberOfValuationReviewers</small>
                            </div>
                        </div>
                    </a>

                    <a href="@Url.Action("JournalScoreCard", "Home")#basejournalscorecard">
                        <div class="col-md-2 pull-right">
                            <div class="score big">
                                <small>Base Score</small>
                                <h2>
                                    @Scores.AverageScore(Model.OverallScore)
                                </h2>

                                <small>Scored by @Model.NumberOfBaseReviewers</small>

                                @if (Model.DoajSeal)
                                {
                                    <a href="https://doajournals.wordpress.com/2015/06/11/doaj-seal-is-now-live-on-the-site/" target="doaj"><img src="~/Images/doaj-seal.png" title="Accredited by DOAJ" class="doajSeal" /></a>
                                }
                            </div>
                        </div>
                    </a>
                </div>
                <div class="span-contentsearch">
                    <div class="row">
                        <div class="tabbablesearch">
                            <ul class="nav nav-tabs journal-tabs">
                                <li class="active"><a href="#journal@(Model.Id)-tab-score" data-toggle="tab">Average subscores</a></li>
                                <li><a href="#journal@(Model.Id)-tab-review" data-url="@Url.Action("ScoreCards", new { id = Model.Id })" data-toggle="tab">Published JSCs</a></li>
                                <li><a href="#journal@(Model.Id)-tab-prices" data-url="@Url.Action("Prices", new { id = Model.Id, RefererUrl = Request.Url.ToString() })" data-toggle="tab">Price information</a></li>
                                <li><a href="#journal@(Model.Id)-tab-comments" data-url="@Url.Action("Comments", new { id = Model.Id })" data-toggle="tab">Additional comments</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="journal@(Model.Id)-tab-review">@{ Html.RenderPartial("_Loading"); }</div>
                                <div class="tab-pane" id="journal@(Model.Id)-tab-comments">@{ Html.RenderPartial("_Loading"); }</div>
                                <div class="tab-pane" id="journal@(Model.Id)-tab-prices">@{ Html.RenderPartial("_Loading"); }</div>
                                <div class="tab-pane active" id="journal@(Model.Id)-tab-score">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="score nohover">
                                                @QuestionCategory.EditorialInformation.GetName():
                                                <h3>@Scores.AverageScore(Model.EditorialInformationScore)</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="score nohover">
                                                @QuestionCategory.Governance:
                                                <h3>@Scores.AverageScore(Model.GovernanceScore)</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="score nohover">
                                                @QuestionCategory.PeerReview.GetName():
                                                <h3>@Scores.AverageScore(Model.PeerReviewScore)</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="score nohover">
                                                @QuestionCategory.Process.GetName():
                                                <h3>@Scores.AverageScore(Model.ProcessScore)</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-3 pull-right">
                                            <div class="row publish">
                                                <div class="col-md-5a">
                                                    <a href="@Url.Action("BaseScoreCard", "Score", new { id = Model.Id })">
                                                        <img src="~/Content/Images/rate-small.png" alt="Score this journal" />
                                                    </a>
                                                </div>
                                                <div class="col-md-7a">
                                                    <a href="@Url.Action("BaseScoreCard", "Score", new { id = Model.Id })">Publish a Base Score Card</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-md-push-3">
                                            <div class="score nohover">
                                                @QuestionCategory.Valuation.GetName():
                                                <h3>
                                                    @Scores.AverageScore(Model.ValuationScore)
                                                </h3>
                                            </div>
                                        </div>

                                        <div class="col-md-3 pull-right">
                                            <div class="row publish vertical-align">
                                                <div class="col-md-5a">
                                                    <a href="@Url.Action("ValuationScoreCard", "Score", new { id = Model.Id })">
                                                        <img src="~/Content/Images/rate-small.png" alt="Score this journal" />
                                                    </a>
                                                </div>
                                                <div class="col-md-7a scoringbuttons not-flex">
                                                    <a href="@Url.Action("ValuationScoreCard", "Score", new { id = Model.Id })">- Publish a Valuation Score Card</a><br />
                                                    <a class="" href="@Url.Action("RequestValuation", "Score", new {id = Model.Id})">- Invite someone else to do so</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="topmargin">
                                        The <strong>Base Score</strong> and the <strong>Valuation Score</strong> are the outcomes of one or more <a href="@Url.Action("JournalScoreCard", "Home")" title="Journal Score Cards">Journal Score Cards</a> published for this journal
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section stylesheets
{
    @Styles.Render("~/styles/datatables")
}

@section scripts
{
    @*<script type="text/javascript" src="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"></script>*@
    @Scripts.Render("~/scripts/datatables")

    @Html.Partial("_FormScripts")

    <script type="text/javascript">
        $(function () {
            var journalsController = new JournalsController();
            journalsController.details();
        });
    </script>
}