@using QOAM.Website.Models
@model PagedList.IPagedList<QOAM.Core.InstitutionJournal>

@foreach (var institutionJournal in Model)
{
    var nextPage = Model.IsLastPage ? (int?)null : (Model.PageNumber + 1);
    var rowClass = User.Identity.IsAuthenticated && ViewBag.User.InstitutionId == institutionJournal.InstitutionId ? "highlighted" : null;

    <tr class="@rowClass" data-next-page="@nextPage">
        <td>
            @if (Uri.IsWellFormedUriString(institutionJournal.Link, UriKind.RelativeOrAbsolute))
            {
                <a href="@institutionJournal.Link" title="View website">@institutionJournal.Institution.Name</a>
            }
            else
            {
                @Html.ActionLink(institutionJournal.Institution.Name, "InstitutionJournalText", new { id = institutionJournal.JournalId, institutionId = institutionJournal.InstitutionId })
            }
        </td>
        @if (User.IsInRole(ApplicationRole.Admin) || User.IsInRole(ApplicationRole.InstitutionAdmin))
        {
            <td>
                @if (User.IsInRole(ApplicationRole.Admin) || (User.IsInRole(ApplicationRole.InstitutionAdmin) && institutionJournal.InstitutionId == ViewBag.User.InstitutionId))
                {
                    @Html.ActionLink("Edit", "InstitutionJournalLicense", new { Id = institutionJournal.JournalId, institutionJournal.InstitutionId, ViewBag.RefererUrl })
                }
            </td>
        }
    </tr>
}