@using QOAM.Website.Models
@model QOAM.Website.ViewModels.Journals.InstitutionJournalLicenseViewModel

@{
    ViewBag.Title = "Edit the institution's journal license";
}

<div class="container main">
    @if (User.IsInRole(ApplicationRole.Admin) || User.IsInRole(ApplicationRole.InstitutionAdmin))
    {
        <p>Here you can set the institutional price of the journal <a href="@Model.JournalLink" title="View online">@Model.JournalTitle</a></p>

        using (Html.BeginForm("InstitutionJournalLicense", "Journals", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>@ViewBag.Title</legend>

                @Html.HiddenFor(m => m.RefererUrl)

                <div class="form-group">
                    @Html.LabelFor(m => m.Institution, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.Institution, Model.Institutions, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Institution, null, new { @class = "control-label" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Link, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.Link, new { placeholder = "Link", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Link, null, new { @class = "control-label" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        @Html.CheckBoxFor(m => m.UpdateAllJournalsOfPublisher, new { placeholder = "Link", @class = "control-label" })
                        @Html.LabelFor(m => m.UpdateAllJournalsOfPublisher, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.UpdateAllJournalsOfPublisher, null, new { @class = "control-label" })
                    </div>
                </div>

                <div class="col-lg-10 col-md-offset-2">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a href="@Model.RefererUrl" class="btn btn-default">Cancel</a>
                </div>
            </fieldset>
        }
    }
    else
    {
        <p>Sorry, you do not have permission to view this page.</p>
    }
</div>

<div class="container main">
    <hr />
</div>

<div class="container main">
    @if (Model.Link != null && (User.IsInRole(ApplicationRole.Admin) || User.IsInRole(ApplicationRole.InstitutionAdmin)))
    {
        using (Html.BeginForm("InstitutionJournalLicenseDelete", "Journals", FormMethod.Post, new { role = "form" }))
        {
            <div class="panel panel-danger">
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    <p>
                        You can also delete this institutional price. Please be aware that this action cannot be undone!
                    </p>

                    @Html.HiddenFor(m => m.RefererUrl)
                    @Html.HiddenFor(m => m.Institution)

                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        }
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}