@using System.Web.Mvc.Html5
@model QOAM.Website.ViewModels.Journals.PricesViewModel
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">List price</div>
            <div class="panel-body">
                @if (Model.BaseJournalPrices.TotalItemCount == 0)
                {
                    <p>
                        <a href="@Model.Journal.Link">For the standard price see the web site of this journal.</a>
                    </p>
                }
                else
                {
                    <p>Last price found on website: <br /> @Html.DisplayFor(m => Model.BaseJournalPrices[0].Price)</p>

                    <p><a id="@Model.Id-viewJournalBasePrices" title="View all prices found on the website">View all prices found on the website</a></p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">My license</div>
            <div class="panel-body">
                @if (Model.InstitutionJournals.Count == 0)
                {
                    <p>Currently, there are no institutions with a special license for this journal.</p>
                }
                else
                {
                    if (Model.InstitutionJournals.Count > 15)
                    {
                            <div class="form-group">
                                Enter the name of your institution to see if it has a licence for this journal
                            </div>
                            <div class="form-group">
                                @Html.Html5TextBoxFor(m => m.FilterInstitution, InputTypes.InputType.Text, new { @class = "form-control" }, "Search by name")
                            </div>
                    }
                    <p>
                        Special price arrangements for:
                    </p>

                    <table id="licenses" class="table table-striped table-bordered" data-page-length="15">
                        <thead>
                            <tr>
                                <th>Institution</th>
                            </tr>
                        </thead>
                        <tbody id="@Model.Id-institutional-prices">
                            @Html.Partial("InstitutionJournalPrices", Model.InstitutionJournals)
                        </tbody>
                        <tfoot id="loadMoreInstitutionalPrice">
                            @*@if (Model.InstitutionJournals.HasNextPage)
                                {
                                    <tr>
                                        <td>
                                            @Ajax.ActionLink("Load more", "InstitutionJournalPrices", new { Model.Id, Model.RefererUrl, Page = Model.Page + 1 }, new AjaxOptions { UpdateTargetId = Model.Id + "-institutional-prices", InsertionMode = InsertionMode.InsertAfter, OnSuccess = "afterLoadMore(data, 'loadMoreInstitutionalPrice', 'loadMoreInstitutionalPriceLink')" }, new { id = "loadMoreInstitutionalPriceLink" })
                                        </td>
                                    </tr>
                                }*@
                        </tfoot>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<div>
    Read more about <a href="@Url.Action("About", "Home" )#price-information" title="Price information">Price information</a>.
</div>

<div id="@Model.Id-journalBasePricesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>All prices found on the website</h3>
            </div>
            <div class="modal-body">
                @if (Model.BaseJournalPrices.TotalItemCount == 0)
                {
                    <p>For the standard price see the web site of this journal</p>
                }
                else
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody id="@Model.Id-journal-base-prices">
                            @Html.Partial("BaseJournalPrices", Model.BaseJournalPrices)
                        </tbody>
                        <tfoot id="@Model.Id-loadMoreBaseJournalPrices">
                            @if (this.Model.BaseJournalPrices.HasNextPage)
                            {
                                <tr>
                                    <td colspan="9">
                                        @(Ajax.ActionLink("Load more", "BaseJournalPrices", new { Model.Id, Model.RefererUrl, Page = Model.Page + 1 }, new AjaxOptions
                                    {
                                        UpdateTargetId = Model.Id + "-journal-base-prices",
                                        InsertionMode = InsertionMode.InsertAfter,
                                        OnSuccess = "afterLoadMore(data, '@Model.Id-loadMoreBaseJournalPrices', '@Model.Id-loadMoreBaseJournalPricesLink')"
                                    }, new { id = "@Model.Id-loadMoreBaseJournalPricesLink" }))
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" aria-hidden="true" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="@Model.Id-journalValuationPricesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Paid prices</h3>
            </div>
            <div class="modal-body">
                @if (Model.ValuationJournalPrices.TotalItemCount == 0)
                {
                    <p>There are no paid prices for this journal.</p>
                }
                else
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody id="@Model.Id-valuation-journal-prices">
                            @Html.Partial("ValuationJournalPrices", Model.ValuationJournalPrices)
                        </tbody>
                        <tfoot id="@Model.Id-loadMoreValuationJournalPrices">
                            @if (Model.ValuationJournalPrices.HasNextPage)
                            {
                                <tr>
                                    <td colspan="9">
                                        @(Ajax.ActionLink("Load more", "ValuationJournalPrices", new { Model.Id, Model.RefererUrl, Page = Model.Page + 1 }, new AjaxOptions
                                    {
                                        UpdateTargetId = Model.Id + "-valuation-journal-prices",
                                        InsertionMode = InsertionMode.InsertAfter,
                                        OnSuccess = "afterLoadMore(data, 'loadMoreValuationJournalPrices', 'loadMoreValuationJournalPricesLink')"
                                    }, new { id = "loadMoreValuationJournalPricesLink" }))
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" aria-hidden="true" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var journalsController = new JournalsController();
        journalsController.prices(
            '@Model.Id-viewJournalBasePrices',
            '@Model.Id-journalBasePricesModal',
            '@Model.Id-viewJournalValuationPrices',
            '@Model.Id-journalValuationPricesModal'
        );
    });
</script>