@using QOAM.Core
@using QOAM.Website.Helpers
@model QOAM.Website.ViewModels.Journals.ScoreCardsViewModel

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Score Card Reviewer</th>
            <th style="width: 12%">Date</th>
            <th style="width: 48%">@QuestionCategory.Valuation.GetName()</th>
            <th style="width: 10%">Action</th>
        </tr>
    </thead>
    <tbody id="@Model.Id-valuationScorecards">
        @Html.Partial("ValuationScoreCards", Model)
    </tbody>
    <tfoot id="@Model.Id-loadMoreValuationScoreCards">
        @if (Model.ValuationScoreCards.HasNextPage)
        {
            <tr>
                <td colspan="4">
                    @Ajax.ActionLink("Load more", "ValuationScoreCards", new { Model.Id, Page = Model.Page + 1 }, new AjaxOptions
                                                                                                                  {
                                                                                                                      UpdateTargetId = Model.Id + "-valuationScorecards",
                                                                                                                      InsertionMode = InsertionMode.InsertAfter,
                                                                                                                      OnSuccess = string.Format("afterLoadMore(data, '{0}-loadMoreValuationScoreCards', '{0}-loadMoreValuationScoreCardsLink')", Model.Id)
                                                                                                                  }, new { id = Model.Id + "-loadMoreValuationScoreCardsLink" })
                </td>
            </tr>
        }
    </tfoot>
</table>

<p>
    Only members of the academic community may publish a JSC. See FAQ <a href="@Url.Action("Faq", "Home")#framing" title="Is QOAM prone to improper use?">"Is QOAM prone to improper use?"</a>
</p>