@model QOAM.Website.ViewModels.Journals.CommentsViewModel

@foreach (var scoreCard in Model.CommentedScoreCards)
{
    var nextPage = Model.CommentedScoreCards.IsLastPage ? (int?)null : (Model.CommentedScoreCards.PageNumber + 1);

    <tr data-next-page="@nextPage">
        <td>@Html.ActionLink(scoreCard.UserProfile.DisplayName, "Details", "Profiles", new { id = scoreCard.UserProfileId }, null)</td>
        <td>@scoreCard.DatePublished.Value.ToShortDateString()</td>
        <td>@scoreCard.Remarks</td>
        <td>
            @if (User.Identity.IsAuthenticated && scoreCard.UserProfileId == ViewBag.User.Id)
            {
                <span class="glyphicon glyphicon-eye-open"></span>
                @Html.ActionLink("Edit", "Journal", "Score", new { id = scoreCard.JournalId }, null)
            }
            else
            {
                <span class="glyphicon glyphicon-eye-open"></span>
                @Html.ActionLink("View", "Details", "Score", new { id = scoreCard.Id }, null)
            }
        </td>
    </tr>
}