@using QOAM.Website.Models
@model QOAM.Website.ViewModels.Journals.InstitutionJournalLicenseViewModel

@{
    ViewBag.Title = "Edit the institution's journal license";
}

<div class="container main">
    
    <h2>@ViewBag.Title</h2>
    
    <p>Here you can set the institution price of the journal <a href="@Model.JournalLink" title="View online">@Model.JournalTitle</a></p>
    
    @using (Html.BeginForm("InstitutionJournalLicense", "Journals", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.HiddenFor(m => m.RefererUrl)
            
            @if (User.IsInRole(ApplicationRole.Admin))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Institution, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.Institution, Model.Institutions, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Institution, null, new { @class = "control-label" })
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.Link, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.Link, new { placeholder = "Link", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Link, null, new { @class = "control-label" })
                </div>
            </div>

            @if (User.IsInRole(ApplicationRole.Admin) || User.IsInRole(ApplicationRole.InstitutionAdmin))
            {
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        @Html.CheckBoxFor(m => m.UpdateAllJournalsOfPublisher, new { placeholder = "Link", @class = "control-label" })
                        @Html.LabelFor(m => m.UpdateAllJournalsOfPublisher, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.UpdateAllJournalsOfPublisher, null, new { @class = "control-label" })
                    </div>
                </div>
            }

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </fieldset>
    }

</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}