@using PagedList
@using QOAM.Core
@using QOAM.Website.Models
@using QOAM.Website.Resources
@using Strings = QOAM.Website.Resources.Strings
@model QOAM.Website.ViewModels.Journals.PricesViewModel
<div class="row">
    
    <div class="col-md-4">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">@ViewStrings.Journals_Prices_RecentlyPaid</div>
            <div class="panel-body">                
                @if (Model.Journal.JournalPrice != null && Model.Journal.JournalPrices.FirstOrDefault(x => x.Price.FeeType == FeeType.Article && x.ScoreCard != null && x.ScoreCard.Submitted) != null)
                {
                    <p>@Strings.LastPaidPrice:<br/> @Html.DisplayFor(m => Model.JournalPrices.FirstOrDefault(x => x.Price.FeeType == FeeType.Article && x.ScoreCard != null && x.ScoreCard.Submitted).Price)</p>
                }
                
                @if (Model.JournalPrices.TotalItemCount == 0 || Model.JournalPrices.FirstOrDefault(x => x.Price.FeeType == FeeType.Article && x.ScoreCard != null && x.ScoreCard.Submitted) == null)
                {
                    <p>@ViewStrings.Journals_Prices_NoJournalPricesForJournal</p>
                }
                else
                {
                    <p><a id="@Model.Id-viewJournalPrices" title="@ViewStrings.Journals_Prices_ViewPaidPrices">@ViewStrings.Journals_Prices_ViewPaidPrices</a></p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">@Strings.InstitutionalPrice</div>
            <div class="panel-body">
                
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.InstitutionJournal == null)
                    {
                        <p>@ViewStrings.Journals_Prices_NoInstitutionPriceForInstitution</p>
                    }
                    else
                    {
                        <p>@ViewStrings.Journals_Prices_InstitutionPriceForInstitution:</p>
                    
                        <p>
                            @Html.Raw(string.Format(ViewStrings.Journals_Prices_ForInstitutionPriceSeeWebsite, Model.InstitutionJournal.Link))
                        </p>
                    }

                    if (User.IsInRole(ApplicationRole.InstitutionAdmin) || User.IsInRole(ApplicationRole.Admin))
                    {
                        <p>@Html.ActionLink(ViewStrings.Journals_Prices_EditInstitutionJournalLicense, "InstitutionJournalLicense", new { Model.Id, Model.RefererUrl })</p>
                    }
                }
                
                @if (Model.InstitutionJournals.TotalItemCount == 0)
                {
                    <p>@ViewStrings.Journals_Prices_NoInstitutionPricesForJournal</p>
                }
                else
                {
                    <p>
                        @Html.Raw(string.Format(ViewStrings.Journals_Prices_InstitutionPricesForJournal, Model.InstitutionJournals.TotalItemCount, Model.Id))
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">@Strings.PriceOnWebsite</div>
            <div class="panel-body">
                @if (Model.Journal.JournalPrices.Count(x => x.ScoreCard != null && !x.ScoreCard.Submitted) == 0)
                {
                    <p>
                @Html.Raw(string.Format(ViewStrings.Journals_Prices_ForStandardPriceSeeWebsite, Model.Journal.Link));
                        </p>
                }
                else
                {
                    if (Model.Journal.JournalPrice != null && Model.Journal.JournalPrices.Count(x => x.ScoreCard != null && !x.ScoreCard.Submitted) > 0)
                    {
                        <p>@Strings.LastStandardPrice: <br/> @Html.DisplayFor(m => Model.JournalPrices.FirstOrDefault(x => x.ScoreCardId != 0 && x.ScoreCard != null && !x.ScoreCard.Submitted).Price)</p>
                    }
                    
                    <p><a id="@Model.Id-viewJournalStandardPrices" title="@ViewStrings.Journals_Prices_ViewStandardPrices">@ViewStrings.Journals_Prices_ViewStandardPrices</a></p>
                    
                }
                
            </div>
        </div>
    </div>
</div>

<div>
    @Html.Raw(string.Format(ViewStrings.Journals_Index_ReadMorePriceInformation, Url.Action("About", "Home") + "#price-information"))
</div>

<div id="@Model.Id-journalStandardPricesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>@ViewStrings.Journals_Prices_ViewStandardPricesFound</h3>
            </div>
            <div class="modal-body">
                @if (Model.JournalPrices.Count(x => x.ScoreCardId > 0 && !x.ScoreCard.Submitted) == 0)
                {
                    <p>@ViewStrings.Journals_Prices_ForStandardPriceSeeWebsite</p>
                }
                else
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Strings.Profile</th>
                                <th>@Strings.Date</th>
                                <th>@Strings.Price</th>
                            </tr>
                        </thead>
                        <tbody id="@this.Model.Id-journal-standard-prices">
                            @{ this.Html.RenderPartial("JournalPrices", this.Model.JournalPrices.Where(x => x.ScoreCardId != 0 && x.ScoreCard != null && !x.ScoreCard.Submitted).ToPagedList(Model.Page, Model.PageSize)); }
                        </tbody>
                        <tfoot id="loadMoreJournalPrices">
                            @if (this.Model.JournalPrices.HasNextPage)
                            {
                                <tr>
                                    <td colspan="9">
                                        @this.Ajax.ActionLink(Strings.LoadMore, "JournalPrices", new { Model.Id, Model.RefererUrl, Page = Model.Page + 1 }, new AjaxOptions
                                   {
                                       UpdateTargetId = this.Model.Id + "-journal-standard-prices",
                                       InsertionMode = InsertionMode.InsertAfter,
                                       OnSuccess = "afterLoadMore(data, 'loadMoreJournalPrices', 'loadMoreJournalPricesLink')"
                                   }, new { id = "loadMoreJournalPricesLink" })
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" aria-hidden="true" data-dismiss="modal">@Strings.Close</button>
            </div>
        </div>
    </div>
</div>

<div id="@Model.Id-journalPricesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>@Strings.PaidPrices</h3>
            </div>
            <div class="modal-body">                
                @if (Model.JournalPrices.Count(x => x.ScoreCardId == 0 || x.ScoreCard.Submitted) == 0)
                {
                    <p>@ViewStrings.Journals_Prices_NoPaidPrices</p>
                }
                else
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Strings.Profile</th>
                                <th>@Strings.Date</th>
                                <th>@Strings.Price</th>
                            </tr>
                        </thead>
                        <tbody id="@this.Model.Id-journal-prices">
                            @{ this.Html.RenderPartial("JournalPrices", this.Model.JournalPrices.Where(x => x.Price.FeeType == FeeType.Article && x.ScoreCard != null && x.ScoreCard.Submitted).ToPagedList(Model.Page, Model.PageSize)); }
                        </tbody>
                        <tfoot id="loadMoreJournalStandardPrices">
                            @if (this.Model.JournalPrices.HasNextPage)
                            {
                                <tr>
                                    <td colspan="9">
                                        @this.Ajax.ActionLink(Strings.LoadMore, "JournalPrices", new { Model.Id, Model.RefererUrl, Page = Model.Page + 1 }, new AjaxOptions
                                   {
                                       UpdateTargetId = this.Model.Id + "-journal-prices",
                                       InsertionMode = InsertionMode.InsertAfter,
                                       OnSuccess = "afterLoadMore(data, 'loadMoreJournalStandardPrices', 'loadMoreJournalPricesLink')"
                                   }, new { id = "loadMoreJournalPricesLink" })
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" aria-hidden="true" data-dismiss="modal">@Strings.Close</button>
            </div>
        </div>
    </div>
</div>

<div id="@Model.Id-institutionJournalPricesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>@Strings.InstitutionalPrice</h3>
            </div>
            <div class="modal-body">
                @if (Model.InstitutionJournals.Count == 0)
                {
                    <p>@ViewStrings.Journals_Prices_NoInstitutionPrices</p>
                }
                else
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Strings.Institution</th>
                                @if (User.IsInRole(ApplicationRole.Admin) || User.IsInRole(ApplicationRole.InstitutionAdmin))
                                {
                                    <th>@Strings.Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody id="@this.Model.Id-institutional-prices">
                            @{ this.Html.RenderPartial("InstitutionJournalPrices", this.Model.InstitutionJournals); }
                        </tbody>
                        <tfoot id="loadMoreInstitutionalPrice">
                            @if (this.Model.InstitutionJournals.HasNextPage)
                            {
                                <tr>
                                    <td colspan="9">
                                        @this.Ajax.ActionLink(Strings.LoadMore, "InstitutionJournalPrices", new { this.Model.Id, Model.RefererUrl, Page = this.Model.Page + 1 }, new AjaxOptions
                                   {
                                       UpdateTargetId = this.Model.Id + "-institutional-prices",
                                       InsertionMode = InsertionMode.InsertAfter,
                                       OnSuccess = "afterLoadMore(data, 'loadMoreInstitutionalPrice', 'loadMoreInstitutionalPriceLink')"
                                   }, new { id = "loadMoreInstitutionalPriceLink" })
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" aria-hidden="true" data-dismiss="modal">@Strings.Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var journalsController = new JournalsController();
        journalsController.prices(
            '@Model.Id-viewJournalPrices',
            '@Model.Id-journalPricesModal',
            '@Model.Id-viewInstitutionJournalPrices',
            '@Model.Id-institutionJournalPricesModal',
            '@Model.Id-viewJournalStandardPrices',
            '@Model.Id-journalStandardPricesModal'
        );
    });
</script>