@using Strings = RU.Uci.OAMarket.Website.Resources.Strings
@model RU.Uci.OAMarket.Website.ViewModels.Journals.ScoresViewModel

@foreach (var scoreCard in Model.ScoreCards)
{
    var nextPage = Model.ScoreCards.IsLastPage ? (int?)null : (Model.ScoreCards.PageNumber + 1);
    
    <tr data-next-page="@nextPage">
        <td>@Html.ActionLink(scoreCard.UserProfile.DisplayName, "Details", "Profiles", new { id = scoreCard.UserProfileId }, null)</td>
        <td>@scoreCard.DatePublished.Value.ToShortDateString()</td>
        <td>@scoreCard.Score.GovernanceScore.AverageScore.Value.ToString("0.0")</td>
        <td>@scoreCard.Score.EditorialInformationScore.AverageScore.Value.ToString("0.0")</td>
        <td>@scoreCard.Score.ProcessScore.AverageScore.Value.ToString("0.0")</td>
        <td>@scoreCard.Score.PeerReviewScore.AverageScore.Value.ToString("0.0")</td>
        <td>@scoreCard.Score.ValuationScore.AverageScore.Value.ToString("0.0")</td>
        <td>
            @if (User.Identity.IsAuthenticated && scoreCard.UserProfileId == ViewBag.User.Id)
            {
                <span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink(Strings.Edit, "Journal", "Score", new { id = scoreCard.JournalId }, null)
            }
            else
            {
               <span class="glyphicon glyphicon-eye-open"></span> @Html.ActionLink(Strings.View, "Details", "Score", new { id = scoreCard.Id }, null)
            }
        </td>
    </tr>    
}