@using System.Web.Mvc.Html5
@using PagedList.Mvc
@using QOAM.Website.Helpers
@using QOAM.Website.Resources
@model QOAM.Website.ViewModels.Institutions.IndexViewModel

@{
    ViewBag.Title = ViewStrings.Institutions_Index_Title;
}

<div class="container main">
    <div class="row side">
        <div class="col-md-3">
                <div id="filter" class="well">
                <h3>@Strings.Filter</h3>

                @using (Html.BeginForm("Index", "Institutions", FormMethod.Get))
                {
                    <fieldset>
                        <legend>@Strings.Search</legend>

                        <div class="form-group editor-label-placeholder">
                            @Html.LabelFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.Html5TextBoxFor(m => m.Name, InputTypes.InputType.Text, new { @class = "form-control" }, Strings.SearchByName)
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "control-label" })
                        </div>

                        <p>
                            <input type="submit" value="@Strings.Search" class="btn btn-primary" />
                        </p>
                    </fieldset>
                }

            </div>
    </div>

        <div class="col-md-9">
            
            <div class="row">
                <div class="col-md-9">
                    <h3>@Strings.Institutions: @Model.Institutions.TotalItemCount</h3>

                </div>
                <div class="col-md-3 text-right topmargin">
                    <div class="topmargin">@Sorting.InstitutionSortMenu(Model.SortBy, Model.Sort)</div>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@Strings.Name</th>
                            <th>@Strings.NumberOfJSCs</th>
                            <th>@Strings.Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var institution in Model.Institutions)
                        {
                            <tr>
                                <td>@Html.ActionLink(institution.Name, "Details", "Institutions", new { id = institution.Id }, null)</td>
                                <td>@institution.NumberOfScoreCards</td>
                                <td>
                                    <span class="glyphicon glyphicon-eye-open"></span> @Html.ActionLink(Strings.View, "Details", "Institutions", new { id = institution.Id }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PagedListPager(Model.Institutions, page => Url.Action("Index", new { page, Model.Name, Model.Sort, Model.SortBy }), Html.PagedListRenderOptions())
            </div>

        </div>
</div>
</div>

@section stylesheets
{
    <link href="~/Content/typeahead.js-bootstrap.min.css" rel="stylesheet" />
}

@section scripts
{
    @{ this.Html.RenderPartial("_FormScripts"); }

    <script type="text/javascript" src="~/Scripts/Controllers/InstitutionsController.js"></script>
    <script type="text/javascript" src="~/Scripts/typeahead.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var institutionsController = new InstitutionsController();
            institutionsController.index('@Url.Action("Names", null, null, this.Request.Url.Scheme)');
        });
    </script>
}