@using reCAPTCHA.MVC
@model QOAM.Website.ViewModels.Home.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Contact"); }
        </div>
        <div class="col-md-9">
            @*<h2>@ViewBag.Title</h2>*@
            
            <h2>Important announcement</h2>
            
            <div class="row mt-40">
                <div class="col-xs-12">
                    <p>
                        We have an important announcement to make.<br />
                        Please head to the @Html.ActionLink("Home page", "Index", "Home") to read it.
                    </p>
                </div>
            </div>

            @*@Html.ValidationSummary()

            @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    <legend>Please fill in the contact information and then submit the form.</legend>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Message, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextAreaFor(m => m.Message, 5, 40, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message, null, new { @class = "control-label " })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.File, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.File, new { type = "file", accept = ".xlsx", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.File, null, new { @class = "control-label " })
                        </div>
                    </div>

                    <div class="row bottommargin">
                        <div class="col-lg-10 col-md-offset-2">
                            @Html.Recaptcha()
                            @Html.ValidationMessage("ReCaptcha", null, new { @class = "has-error" })
                        </div>
                    </div>
                    <div class="row bottommargin">
                        <div class="col-lg-10 col-md-offset-2">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </fieldset>
            }*@
        </div>
    </div>
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}