@{
    ViewBag.Title = "FAQ";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Faq"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><a href="#qoam-meaning"><em>What is QOAM?</em></a></li>
                <li><a href="#quality"><em>How is quality measured in QOAM?</em></a></li>
                <li><a href="#prices"><em>Which prices do you find in QOAM?</em></a></li>
                <li><a href="#subscription-journals"><em>Why are subscription journals not included in QOAM?</em></a></li>
                <li><a href="#moderation"><em>Is QOAM moderated?</em></a></li>
                <li><a href="#cant-find-journal"><em>Why don’t I find a specific journal in QOAM?</em></a></li>
                <li><a href="#corners"><em>Is QOAM customizable?</em></a></li>
                <li><a href="#login"><em>How can I log in to QOAM?</em></a></li>
            </ul>

            <h3 id="qoam-meaning">What is QOAM?</h3>
            <p>
                QOAM stands for Quality Open Access Market.<br/>
                The price-performance ratio varies greatly for open access journals. QOAM aims at offering authors, academic institutions and research funders a better insight in these differences. Bringing these figures together in one place stimulates a quality-based market for open access journals. Publishers must then compete for the choice of authors and the preference of funders.
            </p>
            
            <h3 id="quality">How is quality measured in QOAM?</h3>
            <p>
                Quality in QOAM stands for the quality of the service a journal delivers to its authors. The added value of the peer review and the responsiveness of the editors are the key aspects. The score card for these aspects also includes a free text box for additional comments.
                The scores come from academic authors. Publishers may use a @Html.ActionLink("light weight procedure", "Tools", "Home", null, null, "group-invite", null, null) to invite their authors in batches to score their journals.
            </p>
            
            <h3 id="prices">Which prices do you find in QOAM?</h3>
            <p>
                Open Access is a nascent market for academic publishing. Prices are very dynamic at the moment, ranging from no fee to € 5000 per article. QOAM collects:<br/>
                (1) The list price as quoted on the web site of a journal,<br/>
                (2) Discounts resulting from institutional agreements (if necessary, made public with an appeal to the Freedom of Information Act).<br/>
                The prices are found at the detail page of a journal behind the tab ‘Price information’.
            </p>

            <h3 id="subscription-journals">Why are subscription journals not included in QOAM?</h3>
            <p>
                QOAM is in the overlap of three domains: (1) Quality, (2) Open Access, (3) Market.<br />
                Do subscription journals fit into these domains?<br />
                Ad 1. Quality. Yes. The Journal Score Cards in QOAM are business model neutral.<br />
                Ad 2. Open Access. No. Subscriptions are at odds with Open Access.<br />
                Ad 3. Market. No. Subscriptions are at odds with Open Access.<br />
            </p>
            <p>
                So, subscription journals do not fit in QOAM. Hybrid journals, however, do as they publish articles in open access for a fee. 
                But zooming in to a market place of full OA journals only is a one mouse click option in QOAM’s @Html.ActionLink("main journal list", "Index", "Journals").
            </p>
            
            <h3 id="moderation">Is QOAM moderated?</h3>
            <p>
                Quality judgement in QOAM is based on academic crowd sourcing. This means that one has to register with an academic email address before completing a score card for a journal, and only one Journal Score Card may be published for a specific journal per person. The email addresses are checked against a list of registered academic institutions.<br />
                If, nevertheless, a score looks extreme, it may be averaged out by other scores of the journal. Besides of that, scores are refreshed on an ongoing basis as the score of a journal is based on the average of the one hundred most recent score cards.<br />
                If someone is in doubt about a specific score, they may (when logged in themselves) click the email address of the scorer and contact him or her. Moreover, it is possible to notify the QOAM-Team via <a href="mailto:info@qoam.eu">info@qoam.eu</a>.
                In fact, we rely on academic vigilance to avoid improper use.
            </p>

            <h3 id="cant-find-journal">Why don’t I find a specific journal in QOAM?</h3>
            <p>
                If an open access or hybrid journal is not included in QOAM, please notify this via QOAM’s @Html.ActionLink("Contact box", "Contact").
                We will include this journal in QOAM provided that it can be found in <a href="http://www.journaltocs.ac.uk/" target="_blank">JournalTOCs</a>, our journal record provider. If it is not included in JournalTOCs, we will request them to do so.
            </p>
            
            <h3 id="corners">Is QOAM customizable?</h3>
            <p>
                Yes, QOAM can be customized both at a personal and a group level.<br/>
                If an author wishes to define a personal collection of preferred journals they may simply do so in <strong>@Html.ActionLink("MyQOAM", "Index", "MyQoam")</strong>, a personalized market place. Such a collection is private and will remain available every time the author logs in.<br/>
                QOAM also facilitates so called <strong>@Html.ActionLink("QOAMcorners", "Index", "QoamCorners")</strong>: tailored collections for e.g. projects, research teams, conferences, or institutions. The person who has setup the corner acts as cornerAdmin and may update the corner. In contrast with MyQOAM, QOAMcorners may be visited by everyone.

            </p>

            <h3 id="login">How can I log in to QOAM?</h3>
            <p>
                If you want to log in for the first time, please register with your institutional email address and a password of your choice. You will receive a prompt request to confirm your registration.  Confirmation will activate your account. Next time you may log in directly.<br />
                Read more @Html.ActionLink("here", "About", "Home", null, null, "privacy", null, null) about QOAM’s Privacy policy. <br />
                We have built in the option to submit your ORCID, provided you have one. Thus, you can still be identified if you change institute, hence email address. For the moment, however, this service is not yet operational and you have to update your email address yourself.
            </p>
        </div>
    </div>
</div>