@{
    ViewBag.Title = "FAQ";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Faq"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><a href="#hybrid-journals"><em>Why are hybrid journals also included in QOAM?</em></a></li>
                <li><a href="#subscription-journals"><em>Why are subscription journals not included in QOAM?</em></a></li>
                <li><a href="#cant-find-journal"><em>Why don’t I find a specific journal in QOAM?</em></a></li>
                <li><a href="#no-metrics"><em>Why does QOAM not include metrics as a quality proxy?</em></a></li>
                <li><a href="#framing"><em>Is QOAM prone to improper use?</em></a></li>
                <li><a href="#invite"><em>How can I invite an author to complete a Valauation Score Card?</em></a></li>
                <li><a href="#base-score-card"><em>How to read some phrases in the Base Score Card?</em></a></li>
                <li><a href="#login"><em>How can I log in to QOAM’s scoring section?</em></a></li>
            </ul>

            <h3 id="hybrid-journals">Why are hybrid journals also included in QOAM?</h3>
            <p>Author centric, QOAM provides all journals that offer open access publishing. This entails hybrid journals. Some hybrid journals manage to generate a double income by charging both readers (via full library subscriptions) and authors (via full publication fees).<br />The initiators of QOAM despise this ‘double dipping’ but QOAM is not the instrument to combat this directly. However, if institutions succeed in negotiating journal licenses that stop these practices, the license results and more specifically their effect on the publication fees will be mentioned on QOAM’s web site site under the tab ‘Price information’ of each journal.  Thus, market forces will bring this aberration to an end.</p>

            <h3 id="subscription-journals">Why are subscription journals not included in QOAM?</h3>
            <p>QOAM is in the overlap of three domains: (1) Quality, (2) Open Access, (3) Market. Do subscription journals fit into these domains?<br />Ad 1. Quality. Yes. The Journal Score Card is business model neutral.<br />Ad 2. Open Access. No. Subscription is at odds with Open Access.<br />Ad 3. Market. No. The current Big Deal packages obscure any market idea.<br />So, subscription journals do not fit in QOAM. Yet, the initiators of QOAM are convinced that quality control as such is equally well necessary for subscription journals. Especially for new journals which are simply included in existing packages. The Journal Score Card, or an adapted version of it, might be applicable here and the initiators of QOAM are open to discuss this.</p>

            <h3 id="cant-find-journal">Why don’t I find a specific journal</h3>
            <h4>A. in QOAM’s <a href="@Url.Action("Index", "Journals")" title="searching section">searching section?</a></h4>
            <p>The reason is that for this journal no Journal Score Cards have been published yet. To remedy this, click on the @Html.ActionLink("’Enhancing QOAM’", "Index", "Score") box on QOAM’s main page and publish a JSC for the journal in question. Alternatively, ask your library to do so.</p>

            <h4>B. in QOAM’s <a href="@Url.Action("Index", "Score")" title="scoring section">scoring section?</a></h4>
            <p>If an OA or hybrid journal is not included in QOAM’s scoring section, please notify this via QOAM’s Contact box. We will include this journal in QOAM provided that it can be found in Ulrich’s or DOAJ’s database, currently the metadata resources that QOAM relies on.</p>

            <!--<table id="qoamComposition" class="text-center">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class="text-center">QOAM’s scoring section</th>
                        <th>&nbsp;</th>
                        <th>QOAM’s searching section</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border">Underlying external databases</td>
                        <td>»</td>
                        <td class="border">OA and hybrid journals in QOAM</td>
                        <td>»</td>
                        <td class="border">Journal Score Cards in QOAM</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td><em>The composition of QOAM</em></td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </tfoot>
            </table>-->

            <h3 id="no-metrics">Why does QOAM not include metrics as a quality proxy?</h3>
            <p>
                Metrics for QOAM must apply to young journals because most journals which are born OA are in their infancy.  This is the main reason for not including the Journal Impact Factor in QOAM. Honestly, the controversies over the JIF played a role as well.
            </p>

            <h3 id="framing">Is QOAM prone to improper use?</h3>
            <p>
                To avoid unqualified contributions to QOAM, only members of the academic community may log in to QOAM and publish Journal Score Cards. Per person only one JSC may be published for a specific journal. Published Journal Score Cards are non-anonymous and their authors may contact each other via the <a href="@Url.Action("Index", "Profiles")" title="Profiles section">Profiles section</a> of QOAM. Read more about QOAM’s <a href="@Url.Action("About")#privacy" title="Privacy policy">Privacy policy.</a><br />

                Currently, QOAM has no resources to organize top-down social control or moderation. We have to rely on academic vigilance. Jeffrey Beall’s <a href="http://scholarlyoa.com/individual-journals/" title="list of predatory journals">list of predatory journals</a> and John Bohannon’s article <a href="http://www.sciencemag.org/content/342/6154/60.full" title="Who is Afraid of Peer Review?">Who is Afraid of Peer Review?</a> are examples of this.
            </p>

            <h3 id="invite">How can I invite an author to complete a Valuation Score Card?</h3>
            <p>By following this simple recipe:</p>
            <p>
                Necessary ingredients:
                <ul>
                    <li>The ISSN of a journal with a freshly published open access article</li>
                    <li>The institutional email address of the author of the article</li>
                </ul>
            </p>
            <p>
                Preparation:
                <ol>
                    <li>Go to QOAM and log in.</li>
                    <li>Click on ‘Score journal’ in the black toolbar on top of the page.</li>
                    <li>
                        Fill in the ISSN box in Select and press ‘Search’. This brings you to the journal to be scored. E.g.
                        <img src="@Url.Content("~/Content/images/faq/invite-preparation-step-3.png")" />
                    </li>
                    <li>
                        Click on <strong>Invite someone else to do so</strong> in the lower text box on the right side. The draft invitation pops up.
                        <img src="@Url.Content("~/Content/images/faq/invite-preparation-step-4.png")" />
                    </li>
                    <li>
                        Fill in the institutional email address of the author in the ‘To’ field and flavour the draft invitation if desired e.g. by replacing ‘Sir/Madam’ with the author’s name, undersigning the invitation yourself, adding something sweet &#x1F60A;, etc.
                    </li>
                    <li>Press the Send mail button.</li>
                    <li>That’s it. Meaning: Up to the next author.</li>
                </ol>
            </p>
            <p>
                The result:<br />
                The author of the article receives your invitation. The bottom line has a link to QOAM’s Valuation Score Card for the journal. If the author clicks on this there are two options:
                <ul>
                    <li>The author visits QOAM for the first time. In that case he is asked to give a user name and a password.</li>
                    <li>The author has been in QOAM before. In that case he is asked to transmit his existing password.</li>
                </ul>
                Upon this step the Valuation Score Card pops up with a few questions about the journal.
                <img src="@Url.Content("~/Content/images/faq/invite-preparation-step-completion.png")" />
            </p>
            <p>Completion of the Card takes a few minutes. By pressing ‘Publish your Score Card’ the meal is over. Fast food indeed.</p>

            <h3 id="base-score-card">How to read some phrases in the Base Score Card?</h3>
            <p>
                <em>General</em><br />
                <ul>
                    <li>Base Score Cards are based on the information on the website of the journal. In QOAM, you could click on the title of the journal to be directed to the corresponding website. By using the right mouse button you may choose whether to do so in a new tab or a new window.</li>
                    <li>QOAM uses a scoring system from ‘1. Absent’ to ‘5. Excellent’. Don’t be afraid to use these extremes! You could use the middle scores to indicate that one or several parts of the aspect are missing, for instance that the aims and scope of the journal are specified on the website, but the target audience isn’t.</li>
                </ul>
            </p>
            <p>
                <em>Peer Review</em><br />
                <ul>
                    <li>‘The website indicates whether all submissions are sent out for review.’ The keyword in this aspect is ‘indicates’. It’s not about whether the submissions are reviewed or not, but whether the website indicates something about this.</li>
                </ul>
            </p>
            <p>
                <em>Process</em><br />
                <ul>
                    <li>Indications of an ‘track & trace service’ are often briefly mentioned near a login button for authors, e.g. ‘To submit an article online, and to check the status of your submission, you need to have an account with […]’.</li>
                    <li>‘Published papers include information on dates of original submission and acceptance’ is about the submission date (before the review process) and the acceptance date (after the review process and before the definite publication of the article). The publication date isn’t relevant for this aspect.</li>
                    <li>The ‘Digital Object Identifier’ is usually abbreviated to DOI. It could look as follows: http://doi.org/10.1000/182. </li>
                    <li>A synonym for ‘Publication Fee’ is ‘Article Processing Charges’.</li>
                </ul>
            </p>
            <p>
                <em>Special attention: Reviewer’s comments vs. commentaries by the community</em><br />
                <ul>
                    <li>‘Reviewer’s comments’ are the comments that are given by the reviewers during the peer review process, before the definite publication of the article in the journal.</li>
                    <li>‘Commentaries by the community’ are the comments that are given by the readers of the article, after the definite publication of the article in the journal.</li>
                </ul>
            </p>

            <div id="login"><h3 id="connect-institute">How can I log in to QOAM’s scoring section?</h3></div>
            <p>
                In order to publish a Journal Score Card in QOAM you have to log in. If you want to log in for the first time, please register with your institutional email address and a password of your choice. You will receive a prompt request to confirm your registration.  Confirmation will activate your account. Next time you may log in directly.  We have built in the option to submit your ORCID, provided you have one. Thus, you can be identified if you change institute, hence email address. For the moment, however, this service is not operational and you have to update your email address yourself.<br />
                QOAM’s privacy policy is explained <a href="About#privacy">here</a>.  For more specific questions, please use the @Html.ActionLink("Contact form", "Contact") in QOAM.
            </p>
        </div>
    </div>
</div>