@using System.Web.Optimization
@using QOAM.Core
@using QOAM.Website.Helpers
@using QOAM.Website.Models
@{
    ViewBag.Title = "Journal Score Cards";
}

@helper JournalScoreCardImage(string name, string description)
{
    <a class="jscimage" rel="jscimage" href="~/Images/ScoreCards/journalscorecard-@(name).png" title="@description">
        <img src="~/Images/ScoreCards/journalscorecard-@(name)-small.png" alt="@description" />
    </a>
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "JournalScoreCard"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><em><a href="#journalscorecard">Journal Score Card</a></em></li>
                <li><em><a href="#swot">Robustness of a score</a></em></li>
                <li><em><a href="#life-cycle">The life cycle of  Journal Score Cards</a></em></li>
            </ul>
            
            <h3 id="journalscorecard">Journal Score Card</h3>
            <p>By completing a Journal Score Card in QOAM authors may review the quality of the services of the journal they published in. The Card has four bullets that can be rated from 1 to 5:</p>

            <p>@QuestionCategory.Valuation.GetName()</p>
            <ul>
                <li>@QuestionKey.EditorIsResponsive.ToDescription()</li>
                <li>@QuestionKey.PeerReviewHasAddedValue.ToDescription()</li>
                <li>@QuestionKey.RecommendScholarsToSubmit.ToDescription()</li>
                <li>@QuestionKey.GoodValueForMoney.ToDescription()</li>
            </ul>
            
            <p>
                Per bullet, the rating options are:<br />
                
                <label>
                    <input type="radio" name="score-options)" value="@Score.Absent.GetValue()" />
                    @Score.Absent.GetValue(): @Score.Absent.GetName() (1 pt) &nbsp;
                </label>
                <label>
                    <input type="radio" name="score-options)" value="@Score.Poor.GetValue()" />
                    @Score.Poor.GetValue(): @Score.Poor.GetName() (2 pt) &nbsp;
                </label>
                <label>
                    <input type="radio" name="score-options)" value="@Score.Neutral.GetValue()" />
                    @Score.Neutral.GetValue(): @Score.Neutral.GetName() (3 pt) &nbsp;
                </label>
                <label>
                    <input type="radio" name="score-options)" value="@Score.Good.GetValue()" />
                    @Score.Good.GetValue(): @Score.Good.GetName() (4 pt) &nbsp;
                </label>
                <label>
                    <input type="radio" name="score-options)" value="@Score.Excellent.GetValue()" />
                    @Score.Excellent.GetValue(): @Score.Excellent.GetName() (5 pt) &nbsp;
                </label>
            </p>
            <p>The average of the ratings is called the Score of the journal.</p>
            
            <p>
                The Score Card has a free text box for additional comments, with a placeholder question:<br />
                <input type="text" class="form-control" placeholder="Why would/wouldn’t you recommend this journal?" />
            </p>

            <p>
                For transparency reasons, editors are requested to tick the following box.<br/>
                <input type="checkbox" /> I am an editor of this journal
            </p>
            <p>
                In that case a specific text box with a placeholder question pops up:
                <input type="text" class="form-control" placeholder="Editor’s comment. Do you wish/foresee future developments of your journal?" />
            </p>
           
            <h3 id="swot">Robustness of a score</h3>

            <p>
                The default sorting of the @Html.ActionLink("main journal list", "Index", "Journals") is by robust scores. The robustness of a score is defined as 1 + logN, with N being the number of scorers. The position of a journal on the list is determined by journal score x robustness.<br/>
                Sorting of the list solely by scores is optional via the button ‘Sort’ in the top right corner.
            </p>

            <h3 id="life-cycle">The life cycle of  Journal Score Cards</h3>
            <p>
                To avoid framing, only members of the academic community can publish Journal Score Cards. Therefore, only people with an academic email address can register and log in to the scoring module of QOAM. Per person only one JSC may be published for a specific journal. 
                In order to reflect new experiences with the journal, everybody may update their JSC any time. Per journal only the one hundred most recent score cards will define the score of the journal. This will keep the scores fresh.
            </p>
        </div>
    </div>
</div>

@section stylesheets
{
    @Styles.Render("~/styles/fancybox")
}

@section scripts
{
    @Scripts.Render("~/scripts/fancybox")

    <script type="text/javascript">
        $(function () {
            var homeController = new HomeController();
            homeController.journalScoreCard();
        });
    </script>
}
