@{
    ViewBag.Title = "Tools";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Tools"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><a href="#group-invite"><em>Group invitation to complete Journal Score Cards</em></a></li>
                <li><a href="#list-prices"><em>Including list prices in QOAM</em></a></li>
                <li><a href="#licenses"><em>Including licensed prices in QOAM</em></a></li>
                <li><a href="#submission"><em>Including a submission button in QOAM</em></a></li>
                <li><a href="#plan-s"><em>Building a Plan S-compliant journal list in QOAM</em></a></li>
                <li><a href="#QOAMcorner"><em>Creating a QOAMcorner</em></a></li>
                <li><a href="#data"><em>Mining QOAM's data</em></a></li>

            </ul>

            <h3 id="group-invite">Group invitation to complete Journal Score Cards</h3>
            <p>
                Naturally, publishers and editors-in-chief may be interested in feedback from their authors but sometimes find it difficult to organize this.
                Institutions may want to find out good and bad journals.
                Now, QOAM has developed a simple straightforward tool to invite groups of authors to review the journals they publishd in
            </p>
            <p>
                What is needed are the ISSNs of journals to be evaluated, plus names and email addresses of authors you want to invite to do so.
                These data must be organized in an Excel file with three required columns: "eissn" (the ISSN the journal uses for its electronic version), "Author email address" and "Author name".
                (Multiple e-mail addresses per author can be used, separated by a semicolon or a comma, e.g.: author1@test.uni;author1@somemail.com.)
            </p>
            <p>
                Next, go to @Html.ActionLink("https://www.qoam.eu/score/bulkrequestscore", "BulkRequestValuation", "Score"). If you want to send the standard invitation mail, simply import the Excel file.
                In case you want to send a customized mail, the button ‘Adapt invitation letter’ offers the option to adapt the invitation first. <br />
                Mind: (1) Don’t change the subject box, the message header and the text pieces starting with << and ending with >>. These parts will be customized automatically by the import file, (2) Don’t forget to insert your own email address.
            </p>
            <p>
                After some time, depending on the length of the invitation list, a short result report pops up telling how many invitations have been sent plus a list of mails which have not been sent with a reason why. In general it concerns deficiencies in the mail addresses.  After having repaired them you may resend those mails (but take care that you do not send again the ones that went OK).
            </p>

            <h3 id="list-prices">Including list prices in QOAM</h3>
            <p>
                The tab ‘Price information’ on the detail page of a journal refers to both the publication fee as listed on the web site of the journal and the discount an author may receive as a result of a deal or licence their institute has with a publisher.
                Publishers can have their list prices included in QOAM by providing an Excel sheet with three columns: eissn, url, text. ‘url’ links directly to the journal’s web page with price information, ‘text’ concerns an optional informative line.
            </p>

            <h3 id="licenses">Including licensed prices in QOAM</h3>
            <p>
                A licence is an agreement of a university with a publisher about a discount on the publication fee of a journal for the employees of that university.
                QOAM shows these discounts behind the tab ‘Price information’ on the detail page of the journal.
                <br />
                As a publisher or a licence manager, to have the discounts included please arrange the relevant data as instructed below and post it to info@qoam.eu. Your data will be imported the other day.
                Alternatively, if you are a QOAM InstitutionAdmin you may use the function ‘Import licensed prices’ on the @Html.ActionLink("admin page of QOAM", "Index", "Admin").
            </p>
            <p>
                <h4>1. Import</h4>
                The import of licensed prices in QOAM requires an Excel file with the following format.
            </p>
            <p>
                The main worksheet (first tab) is called ‘Universities’ and has two columns. One is ‘Domains’ with the top-level domain names of concerned universities (e.g. university1.nl or university2.ac.uk). The other one is called ‘Tabs’. It has the names of the other tabs, the so-called licence tabs. Usually these tabs have the name of a publisher (e.g. publisherA or, in case a publisher has more licences, publisherB1, publisherB2, etc.).  It is possible to have several comma or semicolon separated tab names in one field.
            </p>
            <p>
                Every licence tab has two columns. The first one is called ‘eISSN’ and has the ISSN numbers of the digital versions of the journals included in a specific licence. The second column is called ‘Text’ and nutshells the discount for that journal in the given licence, typically as follows, “Discount of xy% on publication fee. Please contact your library for more information.”
            </p>
            <p>
                If a university has a licence, the name of the corresponding licence tab is coupled to that university by placing it behind the domain of that university in the main worksheet, either in a separate field or several comma or semicolon separated licence tabs in one field.
            </p>
            <p>
                NB<br />
                <ul>
                    <li>The combination ISSN-domain name must be unique; if an ISSN is included in two different licences, these two licences cannot be coupled to the same university.</li>
                    <li>All text, including the headers of the columns, must be in ASCII, although the headers of the columns are not case sensitive.</li>
                </ul>
            </p>
            <p>
                <h4>2. Maintenance</h4>
                All changes can be managed via existing or new Excel files. In case an existing file is changed, importing it will overwrite the old data. So, in case a university cancels a licence, skip the name of the corresponding licence tab behind the domain name of that university in the main worksheet and import the whole file again. Or import a new file with only the domain name of that university and leave the column with licence tabs blank. In that case, all licences of that university will be skipped.
            </p>

            <h3 id="submission">Including a submission button in QOAM</h3>
            <p>
                QOAM offers publishers the option to have a submission button for their journals included.
                The button is shown in a separate column in the @Html.ActionLink("main journal list", "Index", "Journals").
                By clicking on it you are redirected to the submission page of the journal.
            </p>
            <p>
                All a publisher, or an editor for that matter, has to do is sending an Excel file with two columns to the @Html.ActionLink("Contact box of QOAM", "Contact").
                The first column is named “eissn” and has the ISSNs the publisher uses for the digital versions of their journals.
                The second column is headed “url” and has per ISSN the URL of the submission page of the journal. Mind: this URL must start with the domain name of the journal in order to avoid mischievous redirections.
            </p>

            <h3 id="plan-s">Building a Plan S-compliant journal list in QOAM</h3>
            <p>
                In addition to the categories ‘fully OA’, ‘no-fee’, and ‘discounted’, QOAM now provides an initial list of Open Access journals that meet the <a href="https://www.coalition-s.org/principles-and-implementation/" target="_blank">mandatory technical conditions</a> of Plan S.
                Preparing QOAM for the implementation of Plan S has been made possible by donations of <a href="https://www.cwi.nl/" target="_blank">Centrum Wiskunde & Informatica</a> and the <a href="https://www.fairopenaccess.org/" target="_blank">Fair Open Access Alliance.</a>
            </p>
            <p>
                The technical Plan S conditions are:
                <em>
                    <ul>
                        <li>Use of persistent identifiers (PIDs) for scholarly publications (with versioning, for example, in case of revisions), such as <strong>DOI</strong> (preferable), URN, or Handle.</li>
                        <li>Deposition of content with a <strong>long-term digital preservation</strong> or archiving programme (such as CLOCKSS, Portico, or equivalent).</li>
                        <li><strong>High-quality article level metadata</strong> in standard interoperable non-proprietary format, under a CC0 public domain dedication. Metadata must include complete and reliable information on funding provided by cOAlition S funders (including as a minimum the name of the funder and the grant number/identifier).</li>
                        <li>Machine-readable <strong>information on the Open Access status</strong> and the license embedded in the article, in standard non-proprietary format.</li>
                    </ul>
                </em>
            </p>
            <p>
                Publishers wishing to see their journals included can send a mail to @Html.ActionLink("QOAM’s Contact box", "Contact") stating that the attached list of journals (eISSNs suffice) meets the technical conditions of Plan S. The journals will then be added to the list after a check of a random sample of journals.
            </p>
            <p>
                As soon as the Plan S requirements for transparency of costs and prices, and for transformative agreements are defined, the list will be adapted accordingly to present the journals meeting these requirements as well.
            </p>

            <h3 id="QOAMcorner">Creating a QOAMcorner</h3>
            <p>
                A QOAMcorner is a journal collection in QOAM for a specific clientele. This could be an institute,  a project team, a lab or even a temporary corner for a conference. A portfolio of journals subsidized by a specific funder is also an option. In fact, any selection of journals may constitute a corner in QOAM. QOAMcorners are created by libraries as a bespoke service to authors of their institution, but others may set up corners as well.
            </p>
            <p>
                <h4>1. Creation</h4>
                Making a corner is really simple. The only ingredients are the ISSN numbers of journals to be included in the corner plus a corner name of your own choice for it. Now, place the ISSNs in a column of an Excel file and name the column after your corner. In fact you thus can create several corners at once by filling in a column for each corner.
            </p>
            <p>
                Next, go to QOAM’s main page and click the button ‘QOAMcorners’ and then ‘(Re)make QOAM corners’. (Make sure you are logged in in QOAM.) Submit your file there. That’s all. Your newly created corner is included in the ‘Browse QOAMcorners’ list under the button ‘QOAMcorners’. At the top of the QOAMcorner page you will be mentioned as the cornerAdmin, so that you may be contacted (only by people who are logged in themselves) for questions e.g. a request to update the journal list.
            </p>
            <p>
                <h4>2. Maintenance</h4>
                The cornerAdmin can maintain their corner by importing an Excel file with the same corner name anew. The existing list will be overwritten then. The cornerAdmin can also discard a corner. The ‘Discontinue your corner’ button will be shown on the corner page of the cornerAdmin. In case a cornerAdmin wants to pass their role to someone else they simply discontinue their own corner, forward the Excel file with the corner list to their successor who then imports the list under their own name.<br />
                NB In order to avoid obsolete corners in QOAM, a corner that has not been visited in half a year’s time will be deleted automatically.
            </p>

            <h3 id="data">Mining QOAM's data</h3>
            <p>
                QOAM data can easily be mined via the QOAM API. Currently, the API is pretty basic.
                Only two request formats are available at the moment: all journals with their score information and all Journal Score Cards.
                Requests with more refined parameters may be developed when needed.
                Available formats are XML and JSON. A smart online JSON-Excel converter <a href="http://www.json-xls.com/json2xls">may be found here</a>. A <a href="https://github.com/QOAM/qoam/wiki/QOAM-API">Wiki about the API</a> is available at <a href="https://github.com/QOAM/qoam">QOAM’s GitHUB page</a>.
            </p>
        </div>
    </div>
</div>
