@using System.Web.Optimization
@model QOAM.Website.ViewModels.Account.GeneratePasswordsViewModel

@{
    ViewBag.Title = "Generate passwords for eduGAIN users";
}

<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Click confirm to generate passwords for eduGAIN users and send them by email</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("GeneratePasswords", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "text-danger" })

                        <fieldset>
                            <legend>Click confirm to generate passwords for eduGAIN users and send them by email</legend>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    @Html.CheckBoxFor(m => m.Confirm)
                                    @Html.LabelFor(m => m.Confirm)
                                </div>
                            </div>

                            <div class="col-md-10 col-md-offset-2">
                                <input type="submit" value="Generate" class="btn btn-primary" />
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
