@using QOAM.Website.Resources

@{
    ViewBag.Title = ViewStrings.Account_Login_Title;
}

<div class="container">
    <div class="col-md-6">
        
        <p>@ViewStrings.Account_Login_Introduction</p>
        <h2>@ViewBag.Title</h2>
        <!--<p>@ViewStrings.Account_Login_Instructions_Part1</p>-->
        <p>@ViewStrings.Account_Login_Instructions_Part2 </p>
 
        <br />
        @using (Html.BeginForm("ExternalLogin", "Account", new { ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>@ViewStrings.Account_Login_Help</legend>

                <p>
                    <button type="submit" class="btn btn-primary" name="provider" value="@ViewBag.SurfContextClientData.AuthenticationClient.ProviderName" title="@ViewStrings.Account_Login_Help">
                        @Strings.LogIn
                    </button>
                </p>
            </fieldset>
        }
    </div>
</div>
