@using RU.Uci.OAMarket.Website.Resources
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewStrings.Layout_Title_Postfix</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Request.Url.Scheme://fonts.googleapis.com/css?family=Mate+SC" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/slider.css" rel="stylesheet" />
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

    @RenderSection("stylesheets", required: false)
</head>
    <body id="@ViewBag.PageId">
        <div id="wrap">
            @Html.Partial("_Header")
            @RenderBody()
        </div>
    
        @Html.Partial("_Footer")

        <script type="text/javascript" src="~/Scripts/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
        <script type="text/javascript" src="~/Scripts/Helpers/Compatibility.js"></script>
        @RenderSection("scripts", required: false)
        
        @Html.Partial("_GoogleAnalytics")
        @Html.Partial("_Usersnap")
        
    </body>
</html>
