@model QOAM.Website.ViewModels.Institutions.UpsertViewModel

@{
    ViewBag.Title = "Add institution";
}

<div class="container main">
    
    <h2>@ViewBag.Title</h2>
    
    <p>
        In the textbox below you can enter a new institution.
    </p>
    
    @using (Html.BeginForm("AddInstitution", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.Partial("_UpsertInstitution")

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}