@using System.Web.Optimization
@model QOAM.Website.ViewModels.Admin.ManageCorrespondingDomainsViewModel

@{
    ViewBag.Title = "Manage Associated Corresponding Domains";
}

<div class="container main">

    <div class="col-md-3">
        @{ Html.RenderPartial("_CorrespondingDomainsSidebarMenu", "Manage"); }
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>

        <p>
            Select the institution for which you want to manage associated corresponding domains.
        </p>
        <br />
        @using (Html.BeginForm("CorrespondingDomains", "Admin"))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>@ViewBag.Title</legend>

                @Html.DropDownListFor(m => m.InstitutionId, Model.Institutions, new { @class = "form-control", onchange = "this.form.submit();" })

                @*<div class="row bottommargin topmargin">
                        <div class="col-xs-12">
                            <input type="submit" value="Associate Institutions" class="btn btn-primary" />
                        </div>
                    </div>*@
            </fieldset>
        }
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-3 mt-20">
            @if (Model.CorrespondingInstitutions.Any())
            {
                <ul class="list-group dissociate-domains">
                    @foreach (var institution in Model.CorrespondingInstitutions)
                    {
                        <li class="list-group-item">
                            @institution.Name (@institution.ShortName)
                            <a class="dissociate-action" href="@Url.Action("DissociateCorrespondingDomains", new { mainInstitutionId = Model.InstitutionId, associatedInstitutionId = institution.Id})">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </li>
                    }
                </ul>
            }
            else if (Model.InstitutionId.HasValue)
            {
                <p>No corresponding domains found.</p>
            }
        </div>
    </div>
</div>

@section stylesheets
{
    @Styles.Render("~/styles/chosen")
}


@section scripts
{
    @Html.Partial("_FormScripts")
    @Scripts.Render("~/scripts/chosen")

    <script type="text/javascript">
        $(function () {
            var adminController = new AdminController();
            adminController.viewCorrespondingDomains();
        });
    </script>
}

