@model QOAM.Website.ViewModels.Institutions.UpsertViewModel

@{
    ViewBag.Title = "Delete Institution";
}

<div class="container main">

    <h2>@ViewBag.Title</h2>

    <p>
        Are you sure you want to delete @Html.ActionLink(Model.Name, "Details", "Institutions", new { id = Model.Id }, null) ?
    </p>

    @using (Html.BeginForm("DeleteInstitution", "Admin", new { id = Model.Id }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.ShortName)

        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Remove" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}