@model QOAM.Website.ViewModels.Import.ImportViewModel

@{
    ViewBag.Title = "Import journals";
}

<div class="container main">
    
    <h2>@ViewBag.Title</h2>
    
    <p>
        In the textbox below you can enter ISSNs of journals to be imported or updated. Please note that any existing information will be overwritten, which means that the publisher, language, country and disciplines will all be overwritten.
    </p>
    
    @using (Html.BeginForm("Import", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div class="form-group row">
                @Html.LabelFor(m => m.ISSNs, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Html.TextAreaFor(m => m.ISSNs, new { @class = "form-control", style = "height: 200px; width: 400px;" })
                    @Html.ValidationMessageFor(m => m.ISSNs, null, new { @class = "control-label" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => m.Source, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Model.Source.ToString()
                    @*@Html.EnumDropDownListFor(m => m.Source, new { @class = "form-control" })
                      @Html.ValidationMessageFor(m => m.Source, null, new { @class = "control-label" })*@
                </div>
            </div>

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}