@using QOAM.Website.Helpers
@using QOAM.Website.Models
@{
    ViewBag.Title = "Admin";
}

<div class="container main">

    <p>
        Here you can choose from several administrative tasks
    </p>

    <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item active">Journals</a>
        @Html.AdminLink("Import journals", User, "Import", null, "list-group-item", "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)
        @Html.AdminLink("Update journals", User, "Update", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)
        @Html.JavascriptLink("Download journals", "download", User, "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)
        @Html.AdminLink("Delete journals", User, "Delete", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)
        @Html.AdminLink("Import Submission-links file", User, "ImportSubmissionLinks", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)

        @Html.AdminLink("Check ISSNs", User, "Check", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)
        @Html.AdminLink("Add ISSNs to import blocklist", User, "BlockISSN", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)
        @Html.AdminLink("Remove ISSNs from import blocklist", User, "RemoveBlockedISSN", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.DataAdmin)
    </div>
    <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item active">Score cards</a>
        @Html.AdminLink("Move score cards", User, "MoveScoreCards", null, "list-group-item", ApplicationRole.Admin)
        <a class="list-group-item non-clickable @(User.IsInRoles(ApplicationRole.Admin, ApplicationRole.DataAdmin) ? "" : "disabled")">Remove score card <sup>1</sup></a>
    </div>

    <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item active">Institutions</a>
        @Html.AdminLink("Add institution", User, "AddInstitution", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.InstitutionAdmin)
        <a class="list-group-item non-clickable @(User.IsInRoles(ApplicationRole.Admin, ApplicationRole.InstitutionAdmin) ? "" : "disabled")">Edit insitution <sup>2</sup></a>
        <a class="list-group-item non-clickable @(User.IsInRoles(ApplicationRole.Admin, ApplicationRole.InstitutionAdmin) ? "" : "disabled")">Delete insitution <sup>2</sup></a>
    </div>

    <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item active">Prices</a>
        @Html.AdminLink("Import licensed prices", User, "BulkImportInstitutionalPrices", "Journals", "list-group-item", ApplicationRole.Admin, ApplicationRole.InstitutionAdmin)
    </div>

    <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item active">Statistics</a>
        @Html.AdminLink("QOAM Statistics", User, "Statistics", null, "list-group-item", ApplicationRole.Admin, ApplicationRole.InstitutionAdmin, ApplicationRole.DataAdmin)
    </div>

    <div class="row">
        <div class="col-xs-12 vcenter">
            <p class="@(User.IsInRoles(ApplicationRole.Admin, ApplicationRole.DataAdmin) ? " " : "disabled")">
                <sup>1</sup> Via 'Remove score card' on the details page of a Journal Score Card
            </p>
            <p class="@(User.IsInRoles(ApplicationRole.Admin, ApplicationRole.InstitutionAdmin) ? " " : "disabled")">
                <sup>2</sup> Via 'Edit' and 'Delete' respectively on the Institutions overview page
            </p>
        </div>

    </div>
</div>

<div id="donwloadTypeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>What would you like to download?</h3>
            </div>
            <div class="modal-body">
                <form id="downloadForm">
                    <label><input type="radio" value="all" name="type"/> All journals</label><br/>
                    <label><input type="radio" value="open-access" name="type"/> Only Open Access journals</label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            var adminController = new AdminController();
            adminController.index('@Url.Action("Download")');
        });
    </script>
}
