@model QOAM.Website.ViewModels.Import.JournalTocsImportViewModel

@{
    ViewBag.Title = "Import journals";
}

<div class="container main">
    
    <h2>@ViewBag.Title</h2>
    
    <p>
        Choose 'Setup' it it's the first download. Otherwise choose 'Update'
    </p>
    
    @using (Html.BeginForm("ManageJournalTocs", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>
            
            <div class="form-group row">
                @Html.LabelFor(m => m.FetchMode, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-2">
                    @Html.EnumDropDownListFor(m => m.FetchMode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FetchMode, null, new { @class = "control-label" })
                </div>
            </div>

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}