@model QOAM.Website.ViewModels.Import.ProcessJournalLabelViewModel

@{
    var action = Model.AddJournalLabel ? "Add" : "Remove";
    var prep = Model.AddJournalLabel ? "to" : "from";

    ViewBag.Title = string.Format("{0} {1} label {2} Journals", action, Model.LabelType, prep);
}

<div class="container main">

    <h2>@ViewBag.Title</h2>
    
    @if (Model.AddJournalLabel) {
        <p>
            In the text box below you can enter ISSNs of journals to which the @Model.LabelType label should be added.
        </p>
    } else {
        <p>
            In the text box below you can enter ISSNs of journals from which to remove the @Model.LabelType label.
        </p>
    }

    @using (Html.BeginForm(Model.ActionMethod, "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div class="form-group row">
                @Html.LabelFor(m => m.ISSNs, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-5">
                    @Html.HiddenFor(m => m.AddJournalLabel)
                    @Html.TextAreaFor(m => m.ISSNs, new { @class = "form-control", rows = "4" })
                    @Html.ValidationMessageFor(m => m.ISSNs, null, new { @class = "control-label" })
                </div>
            </div>

            <div class="col-lg-1 col-md-offset-6">
                <input type="submit" value="@action" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}