@model QOAM.Website.ViewModels.Import.RemoveBaseScoreCardViewModel

@{
    ViewBag.Title = "Remove base score card";
}

<div class="container main">

    <h2>@ViewBag.Title</h2>

    <p>
        Are you sure you want to remove @Html.ActionLink("this base score card", "BaseScoreCardDetails", "Score", new { id = Model.Id }, null) ?
    </p>

    @using (Html.BeginForm("RemoveBaseScoreCardPost", "Admin", new { id = Model.Id }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)

        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div class="col-lg-10 col-md-offset-2">
                <input type="submit" value="Remove" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}