@model QOAM.Website.ViewModels.Home.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Contact"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>
            <div id="contact">
                <address>
                    <strong>Contact person:</strong><br />
                    Leo Waaijers
                </address>
            </div>

            <p>You can contact Leo through the form below:</p>

            @Html.ValidationSummary()

            @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    <legend>Please fill in the contact information and then submit the form.</legend>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "control-label" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Message, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextAreaFor(m => m.Message, 5, 40, new { placeholder = "Message", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message, null, new { @class = "control-label " })
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-offset-2">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Html.Partial("_FormScripts")
}