@using RU.Uci.OAMarket.Website.Resources
@{
    ViewBag.Title = ViewStrings.Home_Faq_Title;
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Faq"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><a href="#hybrid-journals"><em>@ViewStrings.Home_Faq_HybridJournalsIncluded_Title</em></a></li>
                <li><a href="#subscription-journals"><em>@ViewStrings.Home_Faq_SubscriptionJournalsNotIncluded_Title</em></a></li>
                <li><a href="#cant-find-journal"><em>@ViewStrings.Home_Faq_CantFindJournal_Title</em></a></li>
                <li><a href="#no-metrics"><em>@ViewStrings.Home_Faq_NoMetrics_Title</em></a></li>
                <li><a href="#framing"><em>@ViewStrings.Home_Faq_Framing_Title</em></a></li>
                <li><a href="#connect-institute"><em>@ViewStrings.Home_Faq_Connect_Institute_Title</em></a></li>
            </ul>

            <h3 id="hybrid-journals">@ViewStrings.Home_Faq_HybridJournalsIncluded_Title</h3>
            @Html.Raw(ViewStrings.Home_Faq_HybridJournalsIncluded_Text)

            <h3 id="subscription-journals">@ViewStrings.Home_Faq_SubscriptionJournalsNotIncluded_Title</h3>
            @Html.Raw(ViewStrings.Home_Faq_SubscriptionJournalsNotIncluded_Text)
            
            <h3 id="cant-find-journal">@ViewStrings.Home_Faq_CantFindJournal_Title_Short</h3>
            @Html.Raw(string.Format(ViewStrings.Home_Faq_CantFindJournal_Text, Url.Action("Index", "Journals"), Url.Action("Index", "Score")))

            <h3 id="no-metrics">@ViewStrings.Home_Faq_NoMetrics_Title</h3>
            @Html.Raw(ViewStrings.Home_Faq_NoMetrics_Text)

            <h3 id="framing">@ViewStrings.Home_Faq_Framing_Title</h3>
            @Html.Raw(string.Format(ViewStrings.Home_Faq_Framing_Text, Url.Action("Index", "Profiles")))

            <h3 id="connect-institute">@ViewStrings.Home_Faq_Connect_Institute_Title</h3>
            @Html.Raw(ViewStrings.Home_Faq_Connect_Institute_Text)
        </div>
    </div>
</div>
