@using RU.Uci.OAMarket.Website.Resources
@model RU.Uci.OAMarket.Website.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = ViewStrings.Home_Index_Title;
}

<div class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/banner3.jpg" alt="@Strings.QualityOpenAccessMarket" title="@Strings.QualityOpenAccessMarket">

            <div class="container">
                <div class="carousel-caption">

                    <!-- <h1>@Strings.QualityOpenAccessMarket</h1> 
                        <p>@Html.ActionLink(Strings.LearnMore, "About", "Home", null, new { @class = "btn btn btn-primary topmargin" })</p>-->
                    
                    <span id="under-construction" class="text-center">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Only with a critical mass of several thousands quality checked journals QOAM becomes a real market place where authors may select a good journal for their open access article. Currently, QOAM has @Model.NumberOfScoredJournals checked journals. Please, help that number grow by publishing a Journal Score Card. See the item Journal Score Card behind the ‘Learn more’ button below.">
                            <img src="@Url.Content("~/Images/Under-Construction.png")" />
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container main">
    <p class="text-center">@Html.ActionLink(Strings.LearnMore, "About", "Home", null, new { @class = "btn btn btn-primary topmargin" })</p>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a href="@Url.Action("Index", "Journals")">
                <div class="container-inner  text-center">
                    <img class="" src="~/Images/zoom.png" title="@ViewStrings.Home_Index_Search" alt="@ViewStrings.Home_Index_Search" />
                    <p class="lead">
                        @Html.Raw(ViewStrings.Home_Index_Search)
                    </p>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="@Url.Action("Index", "Score")">
                <div class="container-inner text-center">
                    <img class="" src="~/Images/scoresheet.png" title="@ViewStrings.Home_Index_Score" alt="@ViewStrings.Home_Index_Score" />
                    <p class="lead">
                        @Html.Raw(ViewStrings.Home_Index_Score)
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

@section scripts
 {
    <script type="text/javascript">
        $(function () {
            $('#test-phase').tooltip();
        })
    </script>
}