@using RU.Uci.OAMarket.Domain
@using RU.Uci.OAMarket.Website.Helpers
@using RU.Uci.OAMarket.Website.Resources
@using RU.Uci.OAMarket.Website.Models;
@{
    ViewBag.Title = ViewStrings.Home_JournalScoreCard_Title;
}

@helper JournalScoreCardImage(string name, string description)
{
    <a class="jscimage" rel="jscimage" href="~/Images/ScoreCards/journalscorecard-@(name).png" title="@description">
        <img src="~/Images/ScoreCards/journalscorecard-@(name)-small.png" alt="@description"/>
    </a>
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "JournalScoreCard"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><a href="#what">@ViewStrings.Home_JournalScoreCard_WhatIsJournalScoreCard_Title</a></li>
                <li><a href="#how-used">@ViewStrings.Home_JournalScoreCard_HowAreJournalScoreCardsUsed_Title</a></li>
                <li><a href="#who-may-publish">@ViewStrings.Home_JournalScoreCard_WhoMayPublish_Title</a></li>
                <li><a href="#show-it">@ViewStrings.Home_JournalScoreCard_ShowIt_Title</a></li>
            </ul>

            <h3 id="what">@ViewStrings.Home_JournalScoreCard_WhatIsJournalScoreCard_Title</h3>
            @Html.Raw(ViewStrings.Home_JournalScoreCard_WhatIsJournalScoreCard_Text)

            <p>1. @QuestionCategory.EditorialInformation.GetName()</p>
            <ul>
                <li>@QuestionKey.WebsiteContainsAimsScopeAndReadership.ToDescription()</li>
                <li>@QuestionKey.WebsiteContainsNameAndAffiliationsOfMembersEditorialBoard.ToDescription()</li>
                <li>@QuestionKey.ReviewsCommentsArePublished.ToDescription()</li>
                <li>@QuestionKey.WebsiteContainsRoleOfMembersEditorialBoard.ToDescription()</li>
            </ul>

            <p>2. @QuestionCategory.PeerReview.GetName()</p>
            <ul>
                <li>@QuestionKey.WebsiteContainsSubmissionsReviewDetails.ToDescription()</li>
                <li>@QuestionKey.WebsiteContainsCriteriaUsedByReviewers.ToDescription()</li>
                <li>@QuestionKey.AuthorsAllowedToIndicateDesiredReviewers.ToDescription()</li>
                <li>@QuestionKey.WebsiteAllowsRatingsAndCommentariesOfPapers.ToDescription()</li>
            </ul>

            <p>3. @QuestionCategory.Governance.GetName()</p>
            <ul>
                <li>@QuestionKey.HasClearGuidelinesConcerningSharing.ToDescription()</li>
                <li>@QuestionKey.CopiesAreMadeInThirdPartyRepositories.ToDescription()</li>
                <li>@QuestionKey.TakesCareOfInclusionInRelevantIndexingServices.ToDescription()</li>
                <li>@QuestionKey.HighlightsIssuesOfPublicationEthics.ToDescription()</li>
            </ul>

            <p>4. @QuestionCategory.Process.GetName()</p>
            <ul>
                <li>@QuestionKey.ProvidesTrackAndTraceService.ToDescription()</li>
                <li>@QuestionKey.PublishedPapersIncludeInformationOnDatesOfSubmissionAndAcceptance.ToDescription()</li>
                <li>@QuestionKey.ProvidesArticlesWithDigitalObjectIdentifier.ToDescription()</li>
                <li>@QuestionKey.DisclosesNumberOfSubmissionsPublicationsAndRejectionRates.ToDescription()</li>
            </ul>

            <p>5. @QuestionCategory.Valuation.GetName()</p>
            <ul>
                <li>@Html.Raw(ViewStrings.Score_Journal_HaveSubmittedToThisJournal)</li>
                <li>@QuestionKey.PeerReviewProcessTransparent.ToDescription()</li>
                <li>@QuestionKey.RecommendScholarsToSubmit.ToDescription()</li>
                <li>@QuestionKey.GoodValueForMoney.ToDescription()</li>
                <li>@ViewStrings.Score_Journal_PublicationCost</li>
            </ul>

            <h3 id="how-used">@ViewStrings.Home_JournalScoreCard_HowAreJournalScoreCardsUsed_Title</h3>
            @Html.Raw(ViewStrings.Home_JournalScoreCard_HowAreJournalScoreCardsUsed_Text)
            
            <h3 id="who-may-publish">@ViewStrings.Home_JournalScoreCard_WhoMayPublish_Title</h3>
            @Html.Raw(string.Format(ViewStrings.Home_JournalScoreCard_WhoMayPublish_Text, Url.Action("Index", "Score"), Url.Action("Faq") + "#hybrid-journals"))

            <h3 id="show-it">@ViewStrings.Home_JournalScoreCard_ShowIt_Title</h3>

            <ul class="list-unstyled">
                <li>@JournalScoreCardImage("editorial", "Editorial aspect of the Journal Score Card")</li>
                <li>@JournalScoreCardImage("peerreview", "Peer review aspect of the Journal Score Card")</li>
                <li>@JournalScoreCardImage("governance", "Governance aspect of the Journal Score Card")</li>
                <li>@JournalScoreCardImage("process", "Process aspect of the Journal Score Card")</li>
                <li>@JournalScoreCardImage("valuation", "Valuation aspect of the Journal Score Card")</li>
            </ul>
        </div>
    </div>
</div>

@section stylesheets
{
    <link href="~/Content/iPicture.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/jquery.ipicture.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/HomeController.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var homeController = new HomeController();
            homeController.journalScoreCard();
        });
    </script>
}
