@using PagedList.Mvc
@using QOAM.Website.Helpers
@using QOAM.Website.ViewModels.BonaFideJournals
@model BonaFideJournalsViewModel

@{
    ViewBag.Title = "BFJ Journals";
    var action = ViewBag.PageId == "journals-notinjournaltocs-page" ? "NotInJournalTOCs" : "Index";
    var controller = ViewBag.PageId == "myqoam-index-page" ? "MyQoam" : "Journals";
}

<div class="container main">
    <div class="row side">
        <div class="col-md-3">
            <div id="filter" class="well">
                <h3>
                    Filter
                    <img src="~/Images/zoom.png" class="pull-right clearfix" style="height: 30px;" />
                </h3>

                @using (Html.BeginForm(action, controller, FormMethod.Get, new { id = "search-form" }))
                {
                    <fieldset>
                        <legend>Search</legend>

                        @Html.Partial("_JournalFilters")

                        <p>
                            <input id="submitForm" type="submit" value="Search" class="btn btn-primary" />
                        </p>
                    </fieldset>
                }
            </div>
        </div>

        <div class="col-md-9">
            @if (Model.Journals.Any())
            {
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="title">
                                Title
                            </th>
                            <th class="publisher">Publisher</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var journal in Model.Journals)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(journal.Title, "Details", "BonaFideJournals", new { id = journal.Id, area = "BonaFide" }, new { id = journal.Id, @class = Model.JournalLinkCssClass(journal), data_title = journal.Title, data_journalid = journal.Id })
                                </td>
                                <td>@Html.ActionLink(journal.Publisher.Name, "Index", "Journals", new { Publisher = journal.Publisher.Name, area = "" }, null)</td>
                            </tr>
                        }

                    </tbody>
                </table>

                @Html.PagedListPager(Model.Journals, page => Url.Action(@ViewContext.RouteData.Values["action"].ToString(), Model.ToRouteValueDictionary(page)), Html.PagedListRenderOptions())
            }
            else
            {
                @Html.Partial("_EmptyText")
            }
        </div>
    </div>
</div>

@Html.Partial("_SubmitTrustModal")

@section stylesheets
{
    @Styles.Render("~/styles/typeahead")
    @Styles.Render("~/styles/chosen")
}

@section scripts
{
    @Scripts.Render("~/scripts/typeahead")
    @Scripts.Render("~/scripts/chosen")

    @Html.Partial("_FormScripts")

    <script type="text/javascript">
        $(function () {
            var bfjController = new BfjController();
            bfjController.index(
                '@Url.Action("Titles", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Issns", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Publishers", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Subjects", null, null, this.Request.Url.Scheme)',
                '@Url.Action("Languages", null, null, this.Request.Url.Scheme)'
            );
        });
    </script>
}